<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2  space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-autoplay="true" data-speed="5000"
						 data-arrows="true"
						 data-infinite="true"
						 data-nav-for="#sliderSyncingThumb"
						 data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
						 data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
						 data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">
					<div class="js-slide">
						<img class="img-fluid"
								 src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-1.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
								 src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-2.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-3.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-4.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-5.jpg"
							alt="Image Description">
					</div>
				</div>

				<div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
					data-infinite="true" data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav"
					data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-3.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-4.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-specijalne/vizit-karta-specijalna-5.jpg"
							alt="Image Description">
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<h1 class="h4 text-primary font-weight-semi-bold">Vizit karte na specijalnim papirima</h1>
				<!-- Nav Classic -->
				<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border" role="tablist">
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0 active" id="pills-one-example2-tab" data-toggle="pill"
							href="#pills-one-example2" role="tab" aria-controls="pills-one-example2" aria-selected="true">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Opis
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="pills-two-example2-tab" data-toggle="pill"
							href="#pills-two-example2" role="tab" aria-controls="pills-two-example2" aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Priprema
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="pills-three-example2-tab" data-toggle="pill"
							href="#pills-three-example2" role="tab" aria-controls="pills-three-example2" aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Dorada
							</div>
						</a>
					</li>
				</ul>
				<!-- End Nav Classic -->

				<!-- Tab Content -->
				<div class="tab-content">
					<div class="tab-pane fade pt-6 show active" id="pills-one-example2" role="tabpanel"
						aria-labelledby="pills-one-example2-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0 text-justify">Vizit karte se mogu štampati na specijalnim papirima
									koji imaju veliki izbor različitih toniranih i reljefnih struktura raznih
									gramatura. U zavisnosti od izabranog papira vizit karte se mogu štampati u
									jednoj boji do punog kolora.

								</p>
							</div>

							<hr class="my-5">

							<!-- List -->
							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>




							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
									<!-- End Social Networks -->
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-6" id="pills-two-example2" role="tabpanel"
						aria-labelledby="pills-two-example2-tab">
						<p class="mb-0">
						<ul class="list-style-none" style="color: #77838f">
							<li>Dimenzije - u formatu 90mm x 50mm ili po evropskom standardu 85mm x 55mm</li>
							<li>Obrez - treba da bude 92mm x 52mm ili 87mm x 57mm</li>
							<li>Sadržaj - je u pripremi potrebno odmaći 3-5mm od ivice konačnog formata vizit
								karte</li>
							<li>Rezolucija - mora biti minimum 300dpi (tačaka po inču). Za sve ispod toga ne
								garantujemo maksimalni kvalitet nakon štampe.</li>
							<li>Režimi i modeli boja - priprema se radi u CMYK režimu, odnosno Grayscale ako je
								u pitanju jednobojna priprema</li>
							<li>Tekst - je potrebno konvertovati u krive</li>
							<li>Priprema - poželjno je pripremu slati u PDF formatu</li>
							<li>Za sve dodatne informacije kontaktirajte naše grafičke operatere</li>
						</ul>
						</p>
					</div>

					<div class="tab-pane fade pt-6" id="pills-three-example2" role="tabpanel"
						aria-labelledby="pills-three-example2-tab">
						<p class="mb-0">
						<ul class="list-style-none" style="color: #77838f">
							<li>Plastifikacija se koristi da bi određenom artiklu dala luksuzniji i skuplji
								izgled, da bi ga zaštitila ili da bi ga učvrstila. Plastifikacija može biti mat
								ili sjajna, jednostrana ili obostrana (u odnosu na jedan tabak papira)</li>
							<li>Ćoškiranje
								predstavlja obradu ćoškova, a podrazumeva uglovanje dva, tri ili sva četiri ugla
							</li>
							<li>Lakiranje
								se koristi kada proizvod na sebi ima velike površine tamnih boja pa prilikom
								upotrebe na njemu ostaju otisci prstiju, a proizvod ne može da izdrži cenu
								plastifikacije ili je plastificiranje proizvoda neprimereno. I lakiranje, kao i
								plastifikacija, može biti mat ili sjajno, jednostrano ili dvostrano (u odnosu na
								jedan tabak papira).
							</li>
							<li>Clear lak
								poboljšava kvalitet povećavajući zasićenost otiska, čineći kolore bogatijim i
								realnijim. Sem toga, on ujednačava polutonove i daje jasniji doživljaj detalja i
								efekat trodimenzionalnosti. Separativnim prelazom Clear Dry tonera, ističe se i
								fokusira pažnja upravo na onaj deo gde Vi to želite.
							</li>

						</ul>
						</p>
					</div>
				</div>
				<!-- End Tab Content -->
			</div>


		</div>
	</div>
	<!-- End Description Section -->

	<!-- Sticky Block End Point -->
	<div id="stickyBlockEndPoint"></div>



	<!-- Kalkulator Section -->
	<div class="container space-2">
		<div class="card bg-light p-5">
			<!-- Total Price -->
			<div class="mb-4">
				<span class="h4 font-weight-medium">Kalkulator</span>
				<hr class="">
			</div>

			<!-- End Total Price -->

			<!-- Stats -->
			<div class="row mb-2 mb-lg-0">
				<div class="col-lg-7 mb-2 mb-lg-0">
					<!-- Calculator Form -->
					<form class="row" id="forma" name="nameform">
						<div class="col-md-6 mb-4">
							<!-- Input -->
							<label class="form-label">Dimenzije:</label>

							<select class="custom-select" id="dimension">
								<option disabled selected>Izaberite dimenziju</option>
								<option value="1">90mm x 50mm</option>
								<option value="2">85mm x 55mm</option>
							</select>
							<!-- End Input -->
						</div>

						<div class="col-md-6 mb-4">
							<!-- Input -->
							<label class="form-label">Tiraž</label>

							<select class="custom-select" id="numberCards">
								<option disabled selected>Izaberite broj vizit karti</option>
								<option value="100">100</option>
								<option value="200">200</option>
								<option value="300">300</option>
								<option value="500">500</option>
								<option value="1000">1000</option>
								<option value="2000">2000</option>


							</select>
							<!-- End Input -->
						</div>

						<div class="w-100"></div>


						<div class="col-md-6 mb-4">
							<!-- Input -->
							<label class="form-label">Boja</label>

							<select class="custom-select" id="value">
								<option disabled selected>Izaberite boju</option>
								<option value="0">4/0 Ful kolor jednostrano</option>
								<option value="1">4/4 Ful kolor obostrano</option>
								<option value="2">1/0 Crno-belo jednostrano</option>
								<option value="3">1/1 Crno-belo dvostrano</option>
							</select>
							<!-- End Input -->
						</div>

						<!-- <div class="col-md-6 mb-4"> -->
						<!-- Input -->
						<!-- <label class="form-label">Plastifikacija</label> -->

						<!-- <select class="custom-select" id="plastik">
						<option>Izaberite plastificiranje</option>
						<option ></option>
						<option ></option>

					</select> -->


						<!-- <div class="form-check form-check-inline">
							<div class="custom-control custom-radio">
								<input type="radio" id="customInlineRadio2" class="custom-control-input plastik"
									name="customInlineRadio" value="1" data-value="Mat">
								<label class="custom-control-label" for="customInlineRadio2">Mat</label>
							</div>
						</div>
						<div class="form-check form-check-inline">
							<div class="custom-control custom-radio">
								<input type="radio" id="customInlineRadio1" class="custom-control-input plastik"
									name="customInlineRadio" value="1" data-value="Sjaj">
								<label class="custom-control-label" for="customInlineRadio1">Sjaj</label>
							</div>
						</div>
						<div class="form-check form-check-inline">
							<div class="custom-control custom-radio">
								<input type="radio" id="customInlineRadio3"
									class="custom-control-input indeterminate-checkbox plastik" name="customInlineRadio" value="2"
									data-value="Bez plastifikacije">
								<label class="custom-control-label" for="customInlineRadio3">Bez plastifikacije</label>
							</div>
						</div>
					</div> -->

						<!-- End Input -->

						<div class="col-md-6 mb-4">
							<!-- Input -->
							<label class="form-label">Clear lak</label>
							<!-- <select class="custom-select" id="lak">
						<option selected>Izaberite Clear lak</option>
						<option value="1">Da</option>
						<option value="2">Ne</option>
					</select> -->

							<div class="form-check form-check-inline">
								<div class="custom-control custom-radio">
									<input type="radio" id="customInlineRadio5" class="custom-control-input lak" name="custom" value="1"
										data-value="Da">
									<label class="custom-control-label" for="customInlineRadio5">Da</label>
								</div>
							</div>
							<div class="form-check form-check-inline">
								<div class="custom-control custom-radio">
									<input type="radio" id="customInlineRadio4" class="custom-control-input lak" name="custom" value="2"
										data-value="Ne">
									<label class="custom-control-label" for="customInlineRadio4">Ne</label>
								</div>
							</div>
							<!-- End Input -->
						</div>


						<div class="col-md-6 mb-4">
							<!-- Input -->
							<label class="form-label">Coskiranje</label>
							<select class="custom-select" id="cosak">
								<option selected disabled> Izaberite coskiranje</option>
								<option value="0">Bez coskiranja</option>
								<option value="1">Sa coskiranjem</option>

							</select>
							<!-- End Input -->
						</div>
					</form>
					<div class="mb-2">
						<span class="text font-size-1 pr-1" id="tekst3"></span> <br>
						<span class="text font-size-1 pr-1" id="tekst4"></span> <br>
						<span class="text font-size-1 pr-1" id="tekst"></span>
					</div>
					<!-- End Calculator Form -->
				</div>

				<div class="col-lg-5 align-self-center">
					<!-- Stats -->
					<div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-5" style="height: 330px;">
						<!-- Title & Settings -->
						<div class="d-flex justify-content-between align-items-center">
							<h4 class="h6 text-white mb-0">Ukupno</h4>

						</div>
						<!-- End Title & Settings -->

						<hr class="opacity-md mt-3 mb-4">

						<!-- Referral Info -->
						<div class="py-2">
							<div class="row">
								<div class="col-12">
									<div class="mb-3">
										<span class="align-top text-white">EUR</span>
										<span class="text-white font-size-3 font-weight-medium text-lh-sm" id="rez"></span>
									</div>
									<div class="">
										<span class="text-white-70 font-size-1 pr-1" id="paper"></span>
										<span class="text-white font-weight-medium font-size-1"></span>
									</div>
									<div class="">
										<span class="text-white-70 font-size-1 pr-1" id="broj"></span>
										<span class="text-white font-weight-medium font-size-1"></span>
									</div>
									<div class="">
										<span class="text-white-70 font-size-1 pr-1" id="color"></span>
										<span class="text-white font-weight-medium font-size-1" id="cijena"></span>
									</div>
									<!-- <div class="">
									<span class="text-white-70 font-size-1 pr-1" id="plastifikacija"></span>
									<span class="text-white font-weight-medium font-size-1" id="cenaPlast"></span>
								</div> -->
									<div class="">
										<span class="text-white-70 font-size-1 pr-1" id="lakText"></span>
										<span class="text-white font-weight-medium font-size-1" id="cenaLak"></span>
									</div>
									<div class="">
										<span class="text-white-70 font-size-1 pr-1" id="cosakTxt"></span>
										<span class="text-white font-weight-medium font-size-1" id="cenaCosak"></span>
									</div>
									<div class="">
										<span class="text-white-70 font-size-1 pr-1" id="tekst2"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- End Referral Info -->
					</div>
					<!-- End Stats -->
				</div>
			</div>
			<!-- End Stats -->

		</div>
	</div>
	<!-- End Kalkulator Section -->


</main>
