<main id="content" role="main">
  <!-- Description Section -->
  <div class="container space-2  space-top-md-2 space-bottom-md-2">
    <div class="row">
      <div class="col-lg-7 mb-7 mb-lg-0">
        <div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-autoplay="true" data-speed="5000"
          data-arrows="true" data-infinite="true" data-nav-for="#sliderSyncingThumb"
          data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
          data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
          data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">
          <div class="js-slide">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-1.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-2.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-3.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-4.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-5.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-6.jpg"
              alt="Image Description">
          </div>

        </div>

        <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
          data-infinite="true" data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav"
          data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 2
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
          <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-1.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-2.jpg"
              alt="Image Description">
          </div>

          <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-3.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-4.jpg"
              alt="Image Description">
          </div>

          <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-5.jpg"
              alt="Image Description">
          </div>
          <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid"
              src="{{root}}assets/img/proizvodi/vizit-karte/vizit-karte-standardne/vizit-karta-standardna-6.jpg"
              alt="Image Description">
          </div>

        </div>
      </div>

      <div class="col-lg-5">
        <h1 class="h4 text-primary font-weight-semi-bold">Business cards standard</h1>
        <!-- Nav Classic -->
        <ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border" role="tablist">
          <li class="nav-item">
            <a class="nav-link font-weight-medium m-0 active" id="pills-one-example2-tab" data-toggle="pill"
              href="#pills-one-example2" role="tab" aria-controls="pills-one-example2" aria-selected="true">
              <div class="d-md-flex justify-content-md-center align-items-md-center">

                Description
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium m-0" id="pills-two-example2-tab" data-toggle="pill"
              href="#pills-two-example2" role="tab" aria-controls="pills-two-example2" aria-selected="false">
              <div class="d-md-flex justify-content-md-center align-items-md-center">

                Prepress production
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-medium m-0" id="pills-three-example2-tab" data-toggle="pill"
              href="#pills-three-example2" role="tab" aria-controls="pills-three-example2" aria-selected="false">
              <div class="d-md-flex justify-content-md-center align-items-md-center">

                Finishing
              </div>
            </a>
          </li>
        </ul>
        <!-- End Nav Classic -->

        <!-- Tab Content -->
        <div class="tab-content">
          <div class="tab-pane fade pt-6 show active" id="pills-one-example2" role="tabpanel"
            aria-labelledby="pills-one-example2-tab">
            <div class=" ">
              <div class="mb-6">
                <p class="mb-0 text-justify">Business cards speak about Your brand and enable You to impress Your
                  clients and maintain contact with them. You only have one opportunity to leave a good first impression
                  on Your potential clients. Choose a unique design and the best quality to promote the image of Your
                  company.

                </p>
              </div>

              <hr class="my-5">

              <!-- List -->
              <ul class="list-unstyled mb-0">
                <li class="media mb-1">
                  <div class="d-flex w-40 w-sm-30">
                    <h3 class="h6">Delivery date</h3>
                  </div>
                  <div class="media-body">
                    <small class="text-muted">
                      Please send us an inquiry for more information on delivery dates.
                    </small>
                  </div>
                </li>


              </ul>
              <!-- End List -->

              <hr class="my-5">

              <div class="media">
                <div class="d-flex w-40 w-sm-30">
                  <h4 class="h6">Share</h4>
                </div>
                <div class="media-body">
                  <!-- Social Networks -->
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                        <span class="fab fa-facebook-f btn-icon__inner"></span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                        <span class="fab fa-google btn-icon__inner"></span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
                        <span class="fab fa-twitter btn-icon__inner"></span>
                      </a>
                    </li>
                  </ul>
                  <!-- End Social Networks -->
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade pt-6" id="pills-two-example2" role="tabpanel"
            aria-labelledby="pills-two-example2-tab">
            <p class="mb-0">
            <ul class="list-style-none" style="color: #77838f">
              <li>Dimensions - in the format 90 mm x 50 mm or according to the European standard 85 mm x 55 mm</li>
              <li>Trim area - should be 92 mm x 52 mm or 87 mm x 57 mm </li>
              <li>Content - in the prepress files, all content should be withdrawn from the edges of the final business
                card format by 3-5 mm </li>
              <li>Resolution - must be minimum 300 dpi (dots per inch). For any resolution below that, we do not
                guarantee maximum quality during printing.
              </li>
              <li>Regimes and colour models - preparation is performed in the CMYK regime, or Grayscale if the
                preparation is single-colour
              </li>
              <li>Text - requires conversion into curves </li>
              <li>Prepress - it is recommendable to send the prepress in PDF format </li>
              <li>Contact our graphic operators for all additional information.</li>
            </ul>
            </p>
          </div>

          <div class="tab-pane fade pt-6" id="pills-three-example2" role="tabpanel"
            aria-labelledby="pills-three-example2-tab">
            <p class="mb-0">
            <ul class="list-style-none" style="color: #77838f">
              <li>Plastification is used to give a certain product a luxurious and more expensive look, to protect it or
                to reinforce it. Plastification can be matte or glossy, one-sided or two-sided (viewed as one sheet of
                paper).
              </li>
              <li>Cornering is the process of rounding the corners, it is performed on two, three or all four corners.
              </li>
              <li>Varnishing is used if the product has large areas covered in dark colours, making fingerprints visible
                after use, or when the product cannot sustain the cost of plastification or when plastification of the
                product is inappropriate. As plastification, varnishing can be matte or glossy, one-sided or two-sided
                (compared to one sheet of paper).
              </li>
              <li>Clear varnish supports quality by increasing print saturation, making colours more rich and realistic.
                Apart from that, it balances halftones and provides a clearer experience of details and the 3D effect.
                By selectively applying the Clear Dry toner, You can highlight and focus attention to the sections You
                want.
              </li>
            </ul>
            </p>
          </div>
        </div>
        <!-- End Tab Content -->
      </div>


    </div>
  </div>
  <!-- End Description Section -->

  <!-- Sticky Block End Point -->
  <div id="stickyBlockEndPoint"></div>


  <!-- Kalkulator Section -->
  <div class="container space-2">
    <div class="card bg-light p-5">
      <!-- Total Price -->
      <div class="mb-4">
        <span class="h4 font-weight-medium">Kalkulator</span>
        <hr class="">
      </div>

      <!-- End Total Price -->

      <!-- Stats -->
      <div class="row mb-2 mb-lg-0">
        <div class="col-lg-7 mb-2 mb-lg-0">
          <!-- Calculator Form -->
          <form class="row" id="forma" name="nameform">
            <div class="col-md-6 mb-4">
              <!-- Input -->
              <label class="form-label">Dimenzije:</label>

              <select class="custom-select" id="dimension">
                <option disabled selected>Izaberite dimenziju</option>
                <option value="1">90mm x 50mm</option>
                <option value="2">85mm x 55mm</option>
              </select>
              <!-- End Input -->
            </div>

            <div class="col-md-6 mb-4">
              <!-- Input -->
              <label class="form-label">Tiraž</label>

              <select class="custom-select" id="kolicina">
                <option disabled selected>Izaberite broj vizit karti</option>


              </select>
              <!-- End Input -->
            </div>

            <div class="w-100"></div>

            <div class="col-md-12 mb-4">
              <div class="mb-4">
                <span class="form-label font-weight-medium">Debljina papira</span>
              </div>
              <!-- Radio Checkbox Group -->
              <div class="row mx-gutters-2">
                <div class="col-6 col-md-3">
                  <div class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
                    <input type="radio" id="typeOfListingRadio3" name="typeOfListingRadio1"
                      class="custom-control-input checkbox-outline__input">
                    <label class="checkbox-outline__label rounded py-3 px-1 mb-0" for="typeOfListingRadio3">
                      <img class="js-svg-injector w-25 mb-3" src="../../../assets/svg/icons/icon-37.svg" alt="SVG"
                        data-parent="#uploadForm">
                      <span class="d-block">300gr</span>
                    </label>
                  </div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
                    <input type="radio" id="typeOfListingRadio4" name="typeOfListingRadio1"
                      class="custom-control-input checkbox-outline__input">
                    <label class="checkbox-outline__label rounded py-3 px-1 mb-0" for="typeOfListingRadio4">
                      <img class="js-svg-injector w-25 mb-3" src="../../../assets/svg/icons/icon-37.svg" alt="SVG"
                        data-parent="#uploadForm">
                      <span class="d-block">350gr</span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- End Radio Checkbox Group -->
            </div>
            <div class="col-md-6 mb-4">
              <!-- Input -->
              <label class="form-label">Boja</label>

              <select class="custom-select" id="value">
                <option disabled selected>Izaberite boju</option>
                <option value="0">4/0 Ful kolor jednostrano</option>
                <option value="1">4/4 Ful kolor obostrano</option>
                <option value="2">1/0 Crno-belo jednostrano</option>
                <option value="3">1/1 Crno-belo dvostrano</option>
              </select>
              <!-- End Input -->
            </div>

            <div class="col-md-6 mb-4">
              <!-- Input -->
              <label class="form-label">Plastifikacija</label>

              <!-- <select class="custom-select" id="plastik">
							<option>Izaberite plastificiranje</option>
							<option ></option>
							<option ></option>

						</select> -->


              <div class="form-check form-check-inline">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customInlineRadio2" class="custom-control-input plastik"
                    name="customInlineRadio" value="1" data-value="Mat">
                  <label class="custom-control-label" for="customInlineRadio2">Mat</label>
                </div>
              </div>
              <div class="form-check form-check-inline">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customInlineRadio1" class="custom-control-input plastik"
                    name="customInlineRadio" value="1" data-value="Sjaj">
                  <label class="custom-control-label" for="customInlineRadio1">Sjaj</label>
                </div>
              </div>
              <div class="form-check form-check-inline">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customInlineRadio3"
                    class="custom-control-input indeterminate-checkbox plastik" name="customInlineRadio" value="2"
                    data-value="Bez plastifikacije">
                  <label class="custom-control-label" for="customInlineRadio3">Bez
                    plastifikacije</label>
                </div>
              </div>
            </div>

            <!-- End Input -->

            <div class="col-md-6 mb-4">
              <!-- Input -->
              <label class="form-label">Clear lak</label>
              <!-- <select class="custom-select" id="lak">
							<option selected>Izaberite Clear lak</option>
							<option value="1">Da</option>
							<option value="2">Ne</option>
						</select> -->

              <div class="form-check form-check-inline">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customInlineRadio5" class="custom-control-input lak" name="custom" value="1"
                    data-value="Da">
                  <label class="custom-control-label" for="customInlineRadio5">Da</label>
                </div>
              </div>
              <div class="form-check form-check-inline">
                <div class="custom-control custom-radio">
                  <input type="radio" id="customInlineRadio4" class="custom-control-input lak" name="custom" value="2"
                    data-value="Ne">
                  <label class="custom-control-label" for="customInlineRadio4">Ne</label>
                </div>
              </div>
              <!-- End Input -->
            </div>


            <div class="col-md-6 mb-4">
              <!-- Input -->
              <label class="form-label">Coskiranje</label>
              <select class="custom-select" id="cosak">
                <option disabled selected>Izaberite coskiranje</option>
                <option value="0" selected>Bez coskiranja</option>
                <option value="1">Sa coskiranjem</option>

              </select>
              <!-- End Input -->
            </div>
          </form>
          <!-- End Calculator Form -->
          <div class="mb-2">
            <span class="text font-size-1 pr-1" id="tekst3"></span> <br>
            <span class="text font-size-1 pr-1" id="tekst4"></span> <br>

            <span class="text font-size-1 pr-1" id="tekst"></span>
          </div>
        </div>

        <div class="col-lg-5 align-self-center">
          <!-- Stats -->
          <div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-5" style="height: 330px;">
            <!-- Title & Settings -->
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="h6 text-white mb-0">Ukupno</h4>

            </div>
            <!-- End Title & Settings -->

            <hr class="opacity-md mt-3 mb-4">

            <!-- Referral Info -->
            <div class="py-2">
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <span class="align-top text-white">EUR</span>
                    <span class="text-white font-size-3 font-weight-medium text-lh-sm" id="rez"></span>
                  </div>
                  <div class="">
                    <span class="text-white-70 font-size-1 pr-1" id="paper"></span>
                    <span class="text-white font-weight-medium font-size-1"></span>
                  </div>
                  <div class="">
                    <span class="text-white-70 font-size-1 pr-1" id="broj"></span>
                    <span class="text-white font-weight-medium font-size-1"></span>
                  </div>
                  <div class="">
                    <span class="text-white-70 font-size-1 pr-1" id="color"></span>
                    <span class="text-white font-weight-medium font-size-1 d-none" id="cijena"></span>
                  </div>
                  <div class="">
                    <span class="text-white-70 font-size-1 pr-1" id="plastifikacija"></span>
                    <span class="text-white font-weight-medium font-size- d-none" id="cenaPlast"></span>
                  </div>
                  <div class="">
                    <span class="text-white-70 font-size-1 pr-1" id="lakText"></span>
                    <span class="text-white font-weight-medium font-size-1 d-none" id="cenaLak"></span>
                  </div>
                  <div class="">
                    <span class="text-white-70 font-size-1 pr-1" id="tekst2"></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Referral Info -->
          </div>
          <!-- End Stats -->
        </div>
      </div>
      <!-- End Stats -->

    </div>
  </div>

  <!-- End Kalkulator Section -->


</main>