<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2  space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-infinite="true"
					data-nav-for="#sliderSyncingThumb">
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/flajeri/akcijski/akcijski-flajeri-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/flajeri/akcijski/akcijski-flajeri-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/flajeri/akcijski/akcijski-flajeri-3.jpg"
							alt="Image Description">
					</div>
				</div>

				<div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
					data-infinite="true" data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav"
					data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 2
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/flajeri/akcijski/akcijski-flajeri-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/flajeri/akcijski/akcijski-flajeri-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/flajeri/akcijski/akcijski-flajeri-3.jpg"
							alt="Image Description">
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<h1 class="h4 text-primary font-weight-semi-bold">Akcijski flajeri</h1>
				<!-- Nav Classic -->
				<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border"
					role="tablist">
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0 active" id="opis-tab" data-toggle="pill" href="#opis"
							role="tab" aria-controls="opis" aria-selected="true">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Opis
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="priprema-tab" data-toggle="pill" href="#priprema"
							role="tab" aria-controls="priprema" aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Priprema
							</div>
						</a>
					</li>
				</ul>
				<!-- End Nav Classic -->

				<!-- Tab Content -->
				<div class="tab-content">


					<div class="tab-pane fade pt-6 show active" id="opis" role="tabpanel" aria-labelledby="opis-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0 text-justify">
									Flajeri predstavljaju jedno od najjeftinijih i najefikasnijih načina da se dopre do
									velikog broja
									korisnika. Veoma je važno da flajeri budu profesionalno dizajnirani i da
									kombinacijom boja i teksta
									privuku, ali i zadrže pažnju korisnika.<br>
									Flajeri se mogu štampati u raznim dimenzijama (A6, A5, A4..), a za izradu se
									uglavnom koriste tanji
									papiri od 115g do 135g. Postoji mogućnost štampe na debljim ili specijalnim papirima
									po želji
									klijenta.
								</p>
							</div>



							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
									<!-- End Social Networks -->
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-6" id="priprema" role="tabpanel" aria-labelledby="priprema-tab">
						<div class=" ">
							<div class="mb-6">
								<ul class="list-style-none" style="color: #77838f">
									<li><b>Dimenzije</b> - po zahtevu klijenta</li>
									<li><b>Obrez</b> - prilikom pripreme potrebno je ostaviti 2 mm sa svake strane za
										obrez
										(višak koji se odbacuje prilikom sečenja)
									</li>
									<li><b>Sadržaj</b> - sadržaj u pripremi je potrebno odmaći 5-7 mm od ivice</li>
									<li><b>Rezolucija</b> - mora biti minimum 300dpi (tačaka po inču). Za sve ispod
										toga ne garantujemo maksimalni kvalitet nakon štampe.
									</li>
									<li><b>Režimi i modeli boja</b> - priprema se radi u CMYK režimu, odnosno Grayscale
										ako je u pitanju jednobojna priprema</li>
									<li>Tekst - je potrebno konvertovati u krive</li>
									<li><b>Priprema</b> - poželjno je pripremu slati u PDF formatu. Obratiti pažnju na
										redosled
										stranica prilikom montaže.</li>
									<li><b>Za sve dodatne informacije kontaktirajte naše grafičke operatere</b></li>
								</ul>
							</div>
							<hr class="my-5">

							<!-- List -->
							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke*</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>
							</ul>
							<hr class="my-5">
							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6"></h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											* jedno savijanje dva savijanja
										</small>
									</div>
								</li>
							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- End Social Networks -->
						</div>
					</div>
					<!-- End Tab Content -->
				</div>


			</div>
		</div>
		<!-- End Description Section -->

		<!-- Sticky Block End Point -->
		<div id="stickyBlockEndPoint"></div>


		<!-- Kalkulator Section -->
		<div class="container space-2">
			<div class="card bg-light p-5">
				<!-- Total Price -->
				<div class="mb-4">
					<span class="h4 font-weight-medium">Kalkulator</span>
					<hr class="">
				</div>

				<!-- End Total Price -->

				<!-- Stats -->
				<div class="row mb-2 mb-lg-0">
					<div class="col-lg-7 mb-2 mb-lg-0">
						<!-- Calculator Form -->
						<form class="row" id="forma" name="nameform">
							<div class="col-md-6 mb-4">
								<!-- Input -->
								<label class="form-label">Dimenzije:</label>

								<select class="custom-select" id="dimension">
									<option selected>Izaberite dimenziju</option>
									<option value="1"> A6-115g</option>
									<option value="2">A5-115g</option>
								</select>
								<!-- End Input -->
							</div>

							<div class="col-md-6 mb-4">
								<!-- Input -->
								<label class="form-label">Tiraž</label>
								<select class="custom-select" id="numberCards">
									<option selected>Izaberite broj flajera</option>

									<option value="5000">5000</option>
									<option value="10000">10000</option>



								</select>
								<!-- End Input -->
							</div>

							<div class="w-100"></div>


							<div class="col-md-6 mb-4">
								<!-- Input -->
								<label class="form-label">Boja</label>

								<select class="custom-select" id="value">
									<option disabled selected>Izaberite boju</option>
									<option value="0">4/0- kolor jednostrano</option>
									<option value="1">4/4 kolor dvostrano</option>



								</select>
								<!-- End Input -->
							</div>


							<div class="mb-2">
								<span class="text font-size-1 pr-1" id="tekst"></span>
							</div>

						</form>
						<!-- End Calculator Form -->
					</div>
					<div class="col-lg-5 align-self-center">
						<!-- Stats -->
						<div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-5" style="height: 330px;">
							<!-- Title & Settings -->
							<div class="d-flex justify-content-between align-items-center">
								<h4 class="h6 text-white mb-0">Ukupno</h4>

							</div>
							<!-- End Title & Settings -->

							<hr class="opacity-md mt-3 mb-4">

							<!-- Referral Info -->
							<div class="py-2">
								<div class="row">
									<div class="col-12">
										<div class="mb-3">
											<span class="align-top text-white">EUR</span>
											<span class="text-white font-size-3 font-weight-medium text-lh-sm"
												id="rez"></span>
										</div>
										<div class="mb-2">
											<span class="text-white-70 font-size-1 pr-1" id="paper"></span>
											<span class="text-white font-weight-medium font-size-1"></span>
										</div>
										<div class="mb-2">
											<span class="text-white-70 font-size-1 pr-1" id="broj"></span>
											<span class="text-white font-weight-medium font-size-1"></span>
										</div>
										<div class="mb-2">
											<span class="text-white-70 font-size-1 pr-1" id="color"></span>
											<span class="text-white font-weight-medium font-size-1" id="cijena"></span>
										</div>
										<!-- <div class="">
							<span class="text-white-70 font-size-1 pr-1" id="plastifikacija"></span>
							<span class="text-white font-weight-medium font-size-1" id="cenaPlast"></span>
						</div> -->


										<div class="mb-2">
											<span class="text-white-70 font-size-1 pr-1" id="tekst2"></span>
										</div>
									</div>
								</div>
							</div>
							<!-- End Referral Info -->
						</div>
						<!-- End Stats -->
					</div>
				</div>
				<!-- End Stats -->

			</div>
		</div>
		<!-- End Kalkulator Section -->

		<!-- Contact Us Section -->

		<!-- End Contact Us Section -->

</main>