<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md position-relative"
	data-header-fix-moment="500" data-header-fix-effect="slide">


	<div class="u-header__section">
		<!-- Topbar -->
		<div class="container-fluid m-0 py-2 gradient-half-primary-footer border-bottom">
			<div class="container u-header__hide-content">
				<div class="d-flex align-items-center">
					<div class="position-relative px-2 py-1 rounded bg-soft-primary">
						<a id="languageDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center"
							href="javascript:;" role="button" aria-controls="languageDropdown" aria-haspopup="true"
							aria-expanded="false" data-unfold-event="hover" data-unfold-target="#languageDropdown"
							data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300"
							data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp"
							data-unfold-animation-out="fadeOut">
							<img class="dropdown-item-icon" src="{{root}}assets/vendor/flag-icon-css/flags/4x3/rs.svg" alt="SVG">
							<span class="d-inline-block d-sm-none text-primary">RS</span>
							<span class="d-none d-sm-inline-block text-primary">Srpski</span>
						</a>

						<div id="languageDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="languageDropdownInvoker">
							<a class="dropdown-item active" href="">Srpski</a>
							<a class="dropdown-item" href="{{root}}en/">English</a>
						</div>
					</div>

					<!-- End Language -->

					<div class="ml-auto">
						<!-- Links -->
						<div class="d-none d-lg-inline-block ml-sm-auto">
							<ul class="list-inline mb-0">
								<li class="list-inline-item mr-2">
									<a class="u-header__navbar-link rounded-circle font-weight-medium"><b>Pon - Pet:</b> 08:00 - 16:00</a>
								</li>
								<li class="list-inline-item mr-2">
									<a class="u-header__navbar-link text-primary font-weight-bold"
										href="mailto:info@grafomarketing.online">info@grafomarketing.online</a>
								</li>
								<li class="list-inline-item mr-2">
									<a class="u-header__navbar-link text-primary font-weight-bold" href="tel:+381216368031">021 6368
										031</a>
									<a class="u-header__navbar-link text-primary font-weight-bold" href="tel:+381646441478">064 6441
										478</a>
								</li>
							</ul>
						</div>
						<!-- End Links -->
					</div>

				</div>
			</div>
		</div>
	</div>
</header>