/*------------------------------------
  Clients
------------------------------------*/

.u-clients {
  width: 100%;
  max-width: $clients-width;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.u-clients2 {
  width: 100%;
  max-width: 12rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}