<!doctype html>
<html lang="rs">

<head>
	<!-- Title -->
	<title>Štamparija - GRAFOmarketing</title>

	<!-- Favicon -->
	<link href="../favicon.png" rel="apple-touch-icon">
	<link href="../favicon.png" rel="shortcut icon">

	<meta name="theme-color" content="#0071BB"/>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="author" content="GRAFOmarketing">
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- SOCIAL MEDIA META -->
	<meta property="og:description" content="GRAFOmarketing">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="GRAFOmarketing">
	<meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://grafomarketing.online">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext"
				rel="stylesheet">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{{root}}assets/vendor/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/font-awesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/animate.css/animate.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/hs-megamenu/src/hs.megamenu.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/dzsparallaxer/dzsparallaxer.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/fancybox/jquery.fancybox.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/flatpickr/dist/flatpickr.min.css">

	<link rel="stylesheet" href="{{root}}assets/vendor/cubeportfolio/css/cubeportfolio.min.css">

	<!-- CSS -->
	<link rel="stylesheet" href="{{root}}assets/css/theme.css">

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-PD633L3');</script>
	<!-- End Google Tag Manager -->

</head>

<body onload="document.nameform.reset();">

<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD633L3"
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{{> header}}

{{> body}}

{{> footer}}

<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
	 data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
	<span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->


<!-- JS Global Compulsory -->
<script src="{{root}}assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{root}}assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{root}}assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="{{root}}assets/vendor/bootstrap/bootstrap.min.js"></script>
<script src="{{root}}assets/vendor/animejs/lib/anime.min.js"></script>

<!-- AnimeJS -->
<script>
  var tl = anime.timeline({
    targets: '.logo path',
    delay: function (el, i) {
      return i * 200
    },
    easing: 'easeInOutExpo',
    loop: true,
    direction: 'alternate',
  });

  tl
      .add({
        delay: anime.stagger(100, {
          from: 'first'
        }),
        opacity: anime.stagger(0, 1, {
          from: 'first'
        }),
        easing: 'easeInOutExpo',
      });

  anime({
    targets: '.preload-bg',
    easing: 'easeInOutExpo',
    delay: 4000,
    translateY: '100%'
  });
</script>

<!-- JS Implementing Plugins -->
<script src="{{root}}assets/vendor/slick-carousel/slick/slick.js"></script>
<script src="{{root}}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="{{root}}assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="{{root}}assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
<script src="{{root}}assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{root}}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script src="{{root}}assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="{{root}}assets/vendor/appear.js"></script>
<script src="{{root}}assets/vendor/flatpickr/dist/flatpickr.min.js"></script>


<!-- JS -->
<script src="{{root}}assets/js/hs.core.js"></script>
<script src="{{root}}assets/js/components/hs.slick-carousel.js"></script>
<script src="{{root}}assets/js/components/hs.header.js"></script>
<script src="{{root}}assets/js/components/hs.fancybox.js"></script>
<script src="{{root}}assets/js/components/hs.go-to.js"></script>
<script src="{{root}}assets/js/components/hs.svg-injector.js"></script>
<script src="{{root}}assets/js/components/hs.unfold.js"></script>
<script src="{{root}}assets/js/components/hs.focus-state.js"></script>
<script src="{{root}}assets/js/components/hs.malihu-scrollbar.js"></script>
<script src="{{root}}assets/js/components/hs.cubeportfolio.js"></script>
<script src="{{root}}assets/js/components/hs.validation.js"></script>
<script src="{{root}}assets/js/components/hs.range-datepicker.js"></script>
<script src="{{root}}assets/js/components/hs.show-animation.js"></script>
<script src="{{root}}assets/js/components/hs.sticky-block.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.min.js"></script>
<script src="{{root}}assets/js/upit.js"></script>


{{#ifpage 'fascikle'}}
<script src="{{root}}assets/js/calculator/fascikle.js"></script>
{{/ifpage}}
{{#ifpage 'kese'}}
<script src="{{root}}assets/js/cacluclator/kese.js"></script>
{{/ifpage}}
{{#ifpage 'memorandumi'}}
<script src="{{root}}assets/js/calculator/memorandumi.js"></script>
{{/ifpage}}
{{#ifpage 'ncr-blokovi'}}
<script src="{{root}}assets/js/calculator/ncr.js"></script>
{{/ifpage}}
{{#ifpage 'papirni-fiseci'}}
<script src="{{root}}assets/js/calculator/fiseci.js"></script>
{{/ifpage}}
{{#ifpage 'plakati-i-posteri'}}
<script src="{{root}}assets/js/calculator/plakati.js"></script>
{{/ifpage}}
{{#ifpage 'podmetaci'}}
<script src="{{root}}assets/js/calculator/podmetaci.js"></script>
{{/ifpage}}
{{#ifpage 'pvc-nalepnice'}}
<script src="{{root}}assets/js/calculator/pvc.js"></script>
{{/ifpage}}
{{#ifpage 'roll-up'}}
<script src="{{root}}assets/js/calculator/rollup.js"></script>
{{/ifpage}}
{{#ifpage 'specijalne'}}
<script src="{{root}}assets/js/calculator/vizitspec.js"></script>
{{/ifpage}}
{{#ifpage 'standardne'}}
<script src="{{root}}assets/js/calculator/standarne-vizit.js"></script>
{{/ifpage}}
{{#ifpage 'standardni'}}
<script src="{{root}}assets/js/calculator/standardniflajeri.js"></script>
{{/ifpage}}
{{#ifpage 'preklop'}}
<script src="{{root}}assets/js/calculator/flajerpreklop.js"></script>
{{/ifpage}}
{{#ifpage 'sa-rupom-oblikom'}}
<script src="{{root}}assets/js/calculator/flajerkvaka.js"></script>
{{/ifpage}}
{{#ifpage 'koverte'}}
<script src="{{root}}assets/js/calculator/koverte.js"></script>
{{/ifpage}}
{{#ifpage 'akcijski'}}
<script src="{{root}}assets/js/calculator/akcijski.js"></script>
{{/ifpage}}
<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of svg injector module
    $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
  });

  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
  });
</script>

<script>
  $(document).on('ready', function () {
    // initialization of range datepicker
    $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');
  });
</script>

<script>
  $(window).on('load', function () {
    $('.pr-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 767.98,
      hideTimeOut: 0
    })
  })
</script>

<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 767.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#header'));

    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
      afterOpen: function () {
        $(this).find('input[type="search"]').focus();
      }
    });

    // initialization of malihu scrollbar
    $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

    // initialization of forms
    $.HSCore.components.HSFocusState.init();

    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate', {
      rules: {
        confirmPassword: {
          equalTo: '#signupPassword'
        }
      },
      submitHandler: function () {
        contact();
      }
    });

    // initialization of show animations
    $.HSCore.components.HSShowAnimation.init('.js-animation-link');
  });
</script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#header'));

    // initialization of malihu scrollbar
    var windW = window.innerWidth;

    if (windW < 767.98) {
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
    }
  });

  $(window).on('resize', function () {
    // initialization of malihu scrollbar
    var windW = window.innerWidth;

    if (windW < 767.98) {
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
    } else {
      $('.js-scrollbar').mCustomScrollbar("destroy");
    }
  });
</script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of cubeportfolio
    $.HSCore.components.HSCubeportfolio.init('.cbp');
  });
</script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of popups
    $.HSCore.components.HSFancyBox.init('.js-fancybox');
  });
</script>

</body>

</html>
