<!doctype html>
<html lang="rs">

<head>
  <!-- Title -->
  <title>Web Razvoj - GRAFOmarketing</title>

  <!-- Favicon -->
  <link href="../favicon.png" rel="apple-touch-icon">
  <link href="../favicon.png" rel="shortcut icon">

  <meta name="theme-color" content="#0071BB" />

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="author" content="GRAFOmarketing">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- SOCIAL MEDIA META -->
  <meta property="og:description" content="GRAFOmarketing">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="GRAFOmarketing">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://grafomarketing.online">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext"
    rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{{root}}assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="{{root}}assets/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="{{root}}assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="{{root}}assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="{{root}}assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="{{root}}assets/vendor/hs-bg-video/hs-bg-video.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{root}}assets/css/theme.css">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PD633L3');</script>
  <!-- End Google Tag Manager -->

</head>

<body onload="document.nameform.reset();">

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD633L3" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{> headerWebRazvoj}}

  {{> body}}

  {{> footer}}

  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed"
    data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->


  <!-- JS Global Compulsory -->
  <script src="{{root}}assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="{{root}}assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="{{root}}assets/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="{{root}}assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="{{root}}assets/vendor/animejs/lib/anime.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="{{root}}assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="{{root}}assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
  <script src="{{root}}assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{{root}}assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <script src="{{root}}assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="{{root}}assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="{{root}}assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="{{root}}assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
  <script src="{{root}}assets/vendor/hs-bg-video/hs-bg-video.js"></script>
  <script src="{{root}}assets/vendor/hs-bg-video/vendor/player.min.js"></script>
  <script src="{{root}}assets/vendor/typed.js/lib/typed.min.js"></script>


  <!-- JS -->
  <script src="{{root}}assets/js/hs.core.js"></script>
  <script src="{{root}}assets/js/components/hs.header.js"></script>
  <script src="{{root}}assets/js/components/hs.unfold.js"></script>
  <script src="{{root}}assets/js/components/hs.malihu-scrollbar.js"></script>
  <script src="{{root}}assets/js/components/hs.focus-state.js"></script>
  <script src="{{root}}assets/js/components/hs.show-animation.js"></script>
  <script src="{{root}}assets/js/components/hs.cubeportfolio.js"></script>
  <script src="{{root}}assets/js/components/hs.sticky-block.js"></script>
  <script src="{{root}}assets/js/components/hs.svg-injector.js"></script>
  <script src="{{root}}assets/js/components/hs.go-to.js"></script>
  <script src="{{root}}assets/js/components/hs.slick-carousel.js"></script>
  <script src="{{root}}assets/js/components/hs.range-datepicker.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="{{root}}assets/js/components/hs.bg-video.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.9.0/jquery.validate.min.js"></script>
  <script src="{{root}}assets/js/upit.js"></script>



  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });

      // initialization of svg injector module
      $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }

      });
      // initialization of video on background
      $.HSCore.components.HSBgVideo.init('.js-bg-video');

      // initialization of text animation (typing)
      var typed = new Typed(".u-text-animation.u-text-animation--typing", {
        strings: ["moderna", "kreativna", "profesionalna"],
        typeSpeed: 70,
        loop: true,
        backSpeed: 40,
        backDelay: 2000
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of forms
      $.HSCore.components.HSFocusState.init();

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        },
        submitHandler: function () {
          contact();
        }
      });

      // initialization of forms
      $.HSCore.components.HSFocusState.init();

      // initialization of cubeportfolio
      $.HSCore.components.HSCubeportfolio.init('.cbp');

      // initialization of sticky blocks
      $.HSCore.components.HSStickyBlock.init('.js-sticky-block');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');

      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

      // initialization of range datepicker
      $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');
    });
  </script>
</body>

</html>