<!-- ========== MAIN ================ -->
<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2  space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-autoplay="true" data-speed="5000"
					data-arrows="true" data-infinite="true" data-nav-for="#sliderSyncingThumb"
					data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
					data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
					data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-3.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-4.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-5.jpg"
							alt="Image Description">
					</div>
				</div>

				<div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
					data-infinite="true" data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav"
					data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-3.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-4.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/pvc-nalepnice/pvc-nalepnica-5.jpg"
							alt="Image Description">
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<h1 class="h4 text-primary font-weight-semi-bold">PVC stickers</h1>
				<!-- Nav Classic -->
				<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border" role="tablist">
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0 active" id="pills-one-example2-tab" data-toggle="pill"
							href="#pills-one-example2" role="tab" aria-controls="pills-one-example2" aria-selected="true">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Description
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="pills-two-example2-tab" data-toggle="pill"
							href="#pills-two-example2" role="tab" aria-controls="pills-two-example2" aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Prepress production
							</div>
						</a>
					</li>
					<!--	<li class="nav-item">
							<a class="nav-link font-weight-medium m-0" id="pills-three-example2-tab" data-toggle="pill"
								href="#pills-three-example2" role="tab" aria-controls="pills-three-example2"
								aria-selected="false">
								<div class="d-md-flex justify-content-md-center align-items-md-center">

									Specijalni papiri
								</div>
							</a>
						</li> -->
				</ul>
				<!-- End Nav Classic -->

				<!-- Tab Content -->
				<div class="tab-content">


					<div class="tab-pane fade pt-6 show active" id="pills-one-example2" role="tabpanel"
						aria-labelledby="pills-one-example2-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0 text-justify">
									In addition to printing paper stickers, we also print stickers on PVC foil. PVC stickers have several
									advantages, and one of the most important ones is the possibility of sticking onto any surface, they
									are durable and easy to maintain. Self-adhesive PVC stickers are waterproof, resistant to solar
									radiation and resistant to mechanical stresses, to an extent. Stickers can be printed in various
									dimensions which are adjusted to the products or client requests


								</p>
							</div>

							<hr class="my-5">

							<!-- List -->


							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Delivery date</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Please send us an inquiry for more information on delivery dates.
										</small>
									</div>
								</li>
							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
									<!-- End Social Networks -->
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-6" id="pills-two-example2" role="tabpanel"
						aria-labelledby="pills-two-example2-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0">
								<ul class="list-style-none" style="color: #77838f">
									<li>Dimensions - upon request
									</li>
									<li>Trim area - during prepress, the trim should be 10 mm on all sides (this surplus will be discarded
										after trimming) </li>
									<li>Content - in the prepress files, all content should be withdrawn from the edges by 10 mm.</li>
									<li> Resolution - must be 150 - 300 dpi (dots per inch). For any resolution below that, we do not
										guarantee maximum quality during printing. </li>
									<li>Regimes and colour models - preparation is performed in the CMYK regime, or Grayscale if the
										preparation is single-colour</li>
									<li>Text - requires conversion into curves </li>
									<li>Prepress - it is recommendable to send the prepress in PDF format.
									</li>
									<li>
										Foil - Specify the type of foil (matte or glossy)
									</li>
									<li> Contact our graphic operators for all additional information </li>
								</ul>
								</p>
							</div>
							<hr class="my-5">

							<!-- List -->

							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Delivery date</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Please send us an inquiry for more information on delivery dates
										</small>
									</div>
								</li>
							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- End Social Networks -->
						</div>
					</div>

					<!--	<div class="tab-pane fade pt-6" id="pills-three-example2" role="tabpanel"
							aria-labelledby="pills-three-example2-tab">
							<p class="mb-0">
									U ponudi je veliki izbor različitih toniranih i reljefnih struktura raznih gramatura.
							</p>
						</div> -->
				</div>
				<!-- End Tab Content -->
			</div>


		</div>
	</div>
	<!-- End Description Section -->

	<!-- Sticky Block End Point -->
	<div id="stickyBlockEndPoint"></div>





	<!-- Contact Us Section -->
	<div class="container space-2">
		<div class="card bg-light p-5">
			<!-- Total Price -->
			<div class="mb-4">
				<span class="h4 font-weight-medium">Kalkulator</span>
				<hr class="">
			</div>

			<!-- End Total Price -->

			<!-- Stats -->
			<div class="row mb-2 mb-lg-0">
				<div class="col-lg-7 mb-2 mb-lg-0">
					<!-- Calculator Form -->
					<form class="row" id="forma" name="nameform">
						<div class="col-md-6 mb-4">
							<!-- Input -->
							<label class="form-label">PVC nalepnice:</label>

							<select class="custom-select" id="dimension" style="width: 400px;">
								<option disabled selected>Izaberite PVC</option>
								<option value="1">PVC folija
									(samolepljiva vodootporna folija) mat ili sjajna
								</option>
								<option value="2">
									PROVIDNA PVC folija
									(samolepljiva vodootporna folija) mat ili sjajna
								</option>
								<option value="3">
									ONE WAY (RUPICASTA) folija
									(samolepljiva vodootporna folija) mat ili sjajna

								</option>
								<option value="4">
									PESKIRNA FOLIJA
									(samolepljiva vodootporna folija) mat ili sjajna


								</option>
								<option value="5">
									STOPSOL FOLIJA

								</option>
								<option value="6">
									Cut-na ploteru
									(nalepnice nepravilnih oblika)


								</option>
								<option value="7">
									KATER FOLIJA SA SECENJEM NA KATERU

								</option>
								<option value="8">
									TRANSFER FOLIJA
								</option>
								<option value="9">
									CISCENJE KATER FOLIJE MANJI FORMATI
								</option>

								<option value="10">
									MASINSKO SECENJE MALIH PVC NALEPNICA </option>
							</select>
							<!-- End Input -->
						</div>

						<div class="col-md-6 mb-4">
							<!-- Input -->
							<!-- <label class="form-label">Dimenzije:</label>

								<select class="custom-select" id="numberCards">
									<option selected> Izaberite dimenziju</option>
									<option value="1">-85cm x 200cm (stampa na polipropilenu)</option>
									<option value="2">-100cm x 200cm (stampa na polipropilenu)</option>
									<option value="3">-120cm x 200cm (stampa na polipropilenu)</option>
									<option value="4">-150cm x 200cm ( stampa na ceradi )</option>



								</select>
								<!-- End Input -->
						</div>

						<div class="w-100"></div>







					</form>
					<!-- End Calculator Form -->
				</div>

				<div class="col-lg-5 align-self-center">
					<!-- Stats -->
					<div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-5" style="height: 330px;">
						<!-- Title & Settings -->
						<div class="d-flex justify-content-between align-items-center">
							<h4 class="h6 text-white mb-0">Ukupno</h4>

						</div>
						<!-- End Title & Settings -->

						<hr class="opacity-md mt-3 mb-4">

						<!-- Referral Info -->
						<div class="py-2">
							<div class="row">
								<div class="col-12" id="test">

									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="paper"></span>
									</div>
									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="broj"></span>
									</div>
									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="tekst2"></span>
									</div>
									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="onee"></span>
									</div>
									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="two"></span>
									</div>
									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="three"></span>
									</div>
									<div class="mb-2">
										<span class="text-white-70 font-size-1 pr-1" id="four"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- End Referral Info -->
					</div>
					<!-- End Stats -->
				</div>
			</div>
			<!-- End Stats -->

		</div>
	</div>
	<!-- End Contact Us Section -->

</main>
<!-- ========== END MAIN ============ -->