<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2 space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-autoplay="true" data-speed="5000"
						 data-arrows="true"
						 data-infinite="true"
						 data-nav-for="#sliderSyncingThumb"
						 data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
						 data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
						 data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-1.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-2.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-3.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-4.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-5.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-6.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-7.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-8.jpg"
								 alt="Image Description">
					</div>
				</div>
				<div id="sliderSyncingThumb"
						 class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off" data-infinite="true"
						 data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav" data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-1.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-2.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-3.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-4.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-5.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-6.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-7.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/brendiranje-objekata/brendiranje-objekata-8.jpg"
								 alt="Image Description">
					</div>
				</div>
			</div>
			<div id="stickyBlockStartPoint" class="col-lg-5">
				<div class="js-sticky-block"
						 data-parent="#stickyBlockStartPoint" data-sticky-view="lg"
						 data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="50"
						 data-offset-bottom="">

					<h1 class="h4 text-primary font-weight-semi-bold">Brendiranje objekata</h1>
					<!-- Nav Classic -->
					<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border"
							role="tablist">
						<li class="nav-item">
							<a class="nav-link font-weight-medium m-0 active" id="pills-one-example2-tab" data-toggle="pill"
								 href="#pills-one-example2" role="tab" aria-controls="pills-one-example2"
								 aria-selected="true">
								<div class="d-md-flex justify-content-md-center align-items-md-center">
									Opis
								</div>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link font-weight-medium m-0" id="pills-two-example2-tab" data-toggle="pill"
								 href="#pills-two-example2" role="tab" aria-controls="pills-two-example2"
								 aria-selected="false">
								<div class="d-md-flex justify-content-md-center align-items-md-center">
									Vrste folija
								</div>
							</a>
						</li>
					</ul>
					<!-- End Nav Classic -->

					<!-- Tab Content -->
					<div class="tab-content">


						<div class="tab-pane fade pt-6 show active" id="pills-one-example2" role="tabpanel"
								 aria-labelledby="pills-one-example2-tab">
							<div class=" ">
								<div class="mb-6">
									<p class="mb-0 text-justify">
										Brendiranje objekata je jedan od veoma popularnih vidova oglašavanja koji
										neizmerno doprinosi povećanju prometa svakog poslovnog objekta. Brendiranje
										izloga je jednostavno, funkcionalno i pre svega efikasno i atraktivno rešenje za
										privlačenje kupaca. Brendiranje realizujemo kombinacijom štampe i dorade uz
										upotrebu raznih samolepljivih folija, pločastih i fleksibilnih materijala.
										<br>
										Štamparija Grafomarketing nudi niz usluga vezanih za uspešno brendiranje izloga
										i to: izradu grafičkog rešenja, savete oko izbora adekvatnih materijala za
										štampu izloga, premeravanje izloga, izradu štampe za Vaš izlog i montažu na
										terenu.
									</p>
								</div>

								<hr class="my-5">

								<!-- List -->
								<ul class="list-unstyled mb-0">
									<li class="media mb-1">
										<div class="d-flex w-40 w-sm-30">
											<h3 class="h6">Rok isporuke</h3>
										</div>
										<div class="media-body">
											<small class="text-muted">
												Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
												isporuke
											</small>
										</div>
									</li>
								</ul>
								<!-- End List -->

								<hr class="my-5">

								<div class="media">
									<div class="d-flex w-40 w-sm-30">
										<h4 class="h6">Podeli</h4>
									</div>
									<div class="media-body">
										<!-- Social Networks -->
										<ul class="list-inline mb-0">
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-facebook-f btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-google btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-twitter btn-icon__inner"></span>
												</a>
											</li>
										</ul>
										<!-- End Social Networks -->
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade pt-6" id="pills-two-example2" role="tabpanel"
								 aria-labelledby="pills-two-example2-tab">
							<div class=" ">
								<div class="mb-6">
									<p class="mb-0">
									<ul class="list-style-none" style="color: #77838f">
										<li>samolepljive folije za staklo: mat-sjajne, providne ili u boji</li>
										<li>peskirne folije</li>
										<li>one way vision folije</li>
										<li>statičke folije</li>
										<li>stopsol folije - sunstop folije</li>
									</ul>
									</p>
								</div>
								<hr class="my-5">

								<!-- List -->

								<ul class="list-unstyled mb-0">
									<li class="media mb-1">
										<div class="d-flex w-40 w-sm-30">
											<h3 class="h6">Rok isporuke</h3>
										</div>
										<div class="media-body">
											<small class="text-muted">
												Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
												isporuke
											</small>
										</div>
									</li>
								</ul>
								<!-- End List -->

								<hr class="my-5">

								<div class="media">
									<div class="d-flex w-40 w-sm-30">
										<h4 class="h6">Podeli</h4>
									</div>
									<div class="media-body">
										<!-- Social Networks -->
										<ul class="list-inline mb-0">
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-facebook-f btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-google btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-twitter btn-icon__inner"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- End Social Networks -->
							</div>
						</div>

						<div class="tab-pane fade pt-6" id="pills-three-example2" role="tabpanel"
								 aria-labelledby="pills-three-example2-tab">
							<ul class="list-style-none" style="color: #77838f">
								<li>Češljano srebro / crno</li>
								<li>Mat srebro / crno</li>
								<li>Češljano zlato / crno</li>
								<li>Mat zlato / crno</li>
								<li>Češljana bronza / crno</li>
								<li>Češljani nikl / crno</li>
								<li>U bojama</li>


							</ul>
							<hr class="my-5">

							<!-- List -->

							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>
							</ul>
							<!-- End List -->


							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												 href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												 href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												 href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<!-- End Tab Content -->
				</div>
			</div>
			<div class="col-lg-7 mb-7 mb-lg-0 mt-10">
				<h3>One way vision folije</h3>
				<p>
					One way vision folija je perforirana – rupičasta, samolepljiva PVC folija koja
					onemogućava vidljivost unutrašnjeg prostora sa strane na kojoj se nalazi štampa
					dok se kroz foliju sa druge strane jasno vidi spoljašnjost. Da bi se i u noćnim
					uslovima očuvao ovaj efekat, na spoljašnju stranu folije na kojoj se nalazi
					štampa mora biti uperen izvor svetlosti. U suprotnom, unutrašnjost prostora
					postaje vidljiva sa spoljašnje strane. Osim na izlozima one way vision folija
					ima primenu kod oblepljivanja kompletnih staklenih fasada i prilikom brendiranja
					vozila.
				</p>


				<h3>Peskirne folije</h3>
				<p>
					Osnovna i najbolja karakteristika ovih folija je da u potpunosti ili delimično
					ograničavaju stepen vidljivost kroz staklo u prostorima (kancelarije,
					skladišta, laboratorije) dok omogućavaju prolazak svetlosti. Izuzetno su
					efikasne u smanjivanju sunčevih zraka.
					<br>
					Peskirne folije izlozima daju sofisticiran izgled peskiranog ili brušenog stakla
					koji se dodatno može ulepšati isecanjem dekorativnih crteža, natpisa i
					geometrijskih oblika. Peskirna folija se može štampati, kombinovati sa
					samolepljivim folijama u različitim bojama ili se na nju mogu lepiti štampane
					nalepnice.
				</p>

				<h3>Samolepljive folije za staklo</h3>
				<p>
					Samolepljive folije za staklo ili PVC folije mogu biti mat-sjajne, providne ili
					u boji. Mogu se koristiti za kompletno zatvaranje izloga ili se mogu koristiti
					za digitalnu štampu i isecanje slova i oblika na kateru.
				</p>


				<h3>Statičke folije</h3>
				<p>
					Statička folija za razliku od samolepljive folije za staklo na sebi nema lepka
					već se za izloge “drži” statičkim elektricitetom. Statička folija se može
					štampati i isecati u željenim oblicima na kateru. Najčešću primenu ima kod
					izrade ukrasnih stikera ili za akcijske popuste. Nakon primene stikeri se mogu
					vratiti na zaštitnu podlogu, premeštati i ponovo koristiti. Statička folija se
					može upotrebiti na staklu kao i na drugim glatkim površinama.
				</p>

				<h3>Stikeri za staklo</h3>
				<p>
					Stikeri za staklo se najčešće primenjuju za ukrašavanje prozora i izloga, ali se
					takođe mogu koristiti i u komercijalne svrhe za isticanje proizvoda i akcijskih
					cena.
					<br>
					Mogu se izrađivati isecanjem folija u boji ili se nakon štampe samolepljiva
					folija iseca na optičkom kateru - ricovanjem.
				</p>

				<h3>Stopsol folije</h3>
				<p>
					Stopsol folije sprečavaju prolazak određenog sprektra sunčevih zraka koji kroz
					staklo dodatno zagrevaju prostor i negativno utiču na izložene proizvode.
					Primenom stopsol folije vidljivost ostaje nepromenjena.
				</p>
			</div>
		</div>
	</div>
	<!-- End Description Section -->

	<!-- Sticky Block End Point -->
	<div id="stickyBlockEndPoint"></div>


	<!-- Contact Us Section -->
	<div id="SVGwave1BottomSMShapeID2" class="svg-preloader1">
		<div class="">
			<div class="container space-top-2 space-bottom-2 space-top-md-3 space-bottom-md-3">
				<div class="row justify-content-center align-items-md-start">
					<div class="col-md-12 text-center mb-7 mb-md-5 mt-3">
						<h2 class="text-dark mb-5">Treba vam pomoć? <span class="font-weight-semi-bold">Imate
								upit?</span></h2>
					</div>

					<div class="col-md-8 mt-md-auto text-left">
						<!-- Contacts Form -->
						<form class="js-validate" id="contact-form" role="form" autocomplete="on">


							<div class="row">

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="firm">
											Naziv firme
										</label>

										<input type="text" class="form-control" id="firm" name="firm"
													 placeholder="Microsoft" aria-label="Firma" required
													 data-msg="Molimo ukucajte ime vase firme" data-error-class="u-has-error"
													 data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="pib">
											Pib
										</label>

										<input type="number" class="form-control" id="pib" name="pib"
													 placeholder="123456789" aria-label="pib" required
													 data-msg="Molimo ukucajte vas PIB" data-error-class="u-has-error"
													 data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<div class="w-100"></div>

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="name">
											Ime i prezime
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="name" name="name"
													 placeholder="Petar Petrovic" aria-label="Firma" required
													 data-msg="Molimo ukucajte ime vase firme" data-error-class="u-has-error"
													 data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="phone">
											Broj telefona
											<span class="text-danger">*</span>
										</label>

										<input type="number" class="form-control" id="phone" name="phone"
													 placeholder="0641234567" aria-label="1-800-643-4500" required
													 data-msg="Unesite validan broj telefona" data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="address">
											Adresa
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="address" name="address"
													 placeholder="Bulevar Patrijarha Pavla 12a" aria-label="Adresa" required
													 data-msg="Molimo ukucajte vašu adresu stanovanja"
													 data-error-class="u-has-error" data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="email">
											Email adresa
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="email" name="email"
													 placeholder="petar@petrovic.com" aria-label="Adresa" required
													 data-msg="Molimo ukucajte vašu imejl adresu" data-error-class="u-has-error"
													 data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->
							</div>


							<div class="row mt-5">
								<div class="col-sm-12">
									<h4 class="text-dark mb-5 text-center">Opis posla</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 mb-6" hidden>
									<div class="js-form-message">
										<label class="form-label text-dark" for="product">
											Naziv proizvoda
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="product" name="product"
													 placeholder="Vizit karte, flajeri, brosure..." aria-label="Adresa" required
													 data-msg="Molimo unesite ime proizvoda" data-error-class="u-has-error"
													 data-success-class="u-has-success" value="Brendiranje objekta">
									</div>
								</div>

								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="small text-uppercase" for="tiraz">
											Tiraž
											<span class="text-danger">*</span>
										</label>

										<input type="number" class="form-control" id="tiraz" name="tiraz"
													 placeholder="0" aria-label="Adresa" required
													 data-msg="Molimo unesite ime proizvoda" data-error-class="u-has-error"
													 data-success-class="u-has-success">
									</div>
								</div>
								<div class="col-sm-6 mb-6">
									<div class="form-group">
										<label for="priprema" class="text-uppercase small">Priprema</label>
										<span class="text-danger">*</span>
										<select class="form-control" id="priprema" name="priprema">
											<option value="Dostavlja porucilac">Dostavlja porucilac</option>
											<option value="Pripremu radi GRAFOmarketing">Pripremu radi GRAFOmarketing</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mb-5">
									<!-- Datepicker -->
									<label class="small text-uppercase" for="isporuka">
										Rok isporuke
										<span class="text-danger">*</span>
									</label>
									<div id="" class="u-datepicker input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<span class="fas fa-calendar"></span>
											</span>
										</div>
										<input class="js-range-datepicker form-control bg-transparent rounded-right"
													 type="text" name="isporuka" id="isporuka"
													 placeholder="Rok isporuke zavisi od vašeg zahteva, obima posla, i dana od overene pripreme."
													 aria-label="From" data-rp-wrapper="#datepickerWrapperFrom"
													 data-rp-date-format="d/m/Y">
									</div>
									<!-- End Datepicker -->
								</div>
							</div>

							<!-- Input -->
							<div class="js-form-message mb-6 mt-5">
								<label class="form-label text-dark" for="message">
									Detaljan opis štampe i dorade
									<span class="text-danger">*</span>
								</label>

								<div class="input-group">
									<textarea class="form-control" rows="4" id="message" name="message"
														placeholder="Vrsta i gramatura papira, obostrana ili jednostrana štampa, kolor ili crno bela štampa, plastifikacija, lepljenje, numeracija, lakiranje, sečenje, bigovanje..."
														aria-label="Hi there, I would like to ..." required
														data-msg="Please enter a reason." data-error-class="u-has-error"
														data-success-class="u-has-success"></textarea>
								</div>
							</div>


							<!-- End Input -->
							<div class="text-center">
								<button type="submit"
												class="btn btn-primary btn-wide transition-3d-hover mb-4">Pošalji
								</button>
							</div>

							<div class="messages"></div>

						</form>
						<!-- End Contacts Form -->
					</div>
				</div>
			</div>
		</div>

		<!-- SVG Background
					<figure class="position-absolute right-0 bottom-0 left-0 z-index-1">
						<img class="js-svg-injector" src="../../../../assets/svg/components/irregular-shape-2-bottom-3.svg"
							alt="Image Description" data-parent="#SVGwave1BottomSMShapeID2">
					</figure>
					End SVG Background -->
	</div>
	<!-- End Contact Us Section -->

</main>
