<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2  space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-infinite="true"
					data-nav-for="#sliderSyncingThumb">
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/digitalna-stampa-na-tabaku/digitalna-stampa-na-tabaku-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/digitalna-stampa-na-tabaku/digitalna-stampa-na-tabaku-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/digitalna-stampa-na-tabaku/digitalna-stampa-na-tabaku-3.jpg"
							alt="Image Description">
					</div>
				</div>

				<div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
					data-infinite="true" data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav"
					data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 2
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/digitalna-stampa-na-tabaku/digitalna-stampa-na-tabaku-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/digitalna-stampa-na-tabaku/digitalna-stampa-na-tabaku-2.jpg"
							alt="Image Description">
					</div>

					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/digitalna-stampa-na-tabaku/digitalna-stampa-na-tabaku-3.jpg"
							alt="Image Description">
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<h1 class="h4 text-primary font-weight-semi-bold">Digitalna štampa na tabaku</h1>
				<!-- Nav Classic -->
				<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border"
					role="tablist">
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0 active" id="opis-tab" data-toggle="pill" href="#opis"
							role="tab" aria-controls="opis" aria-selected="true">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Opis
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="priprema-tab" data-toggle="pill" href="#priprema"
							role="tab" aria-controls="priprema" aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Priprema
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="dorada-tab" data-toggle="pill" href="#dorada"
							role="tab" aria-controls="dorada" aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Dorada
							</div>
						</a>
					</li>
				</ul>
				<!-- End Nav Classic -->

				<!-- Tab Content -->
				<div class="tab-content">
					<div class="tab-pane fade pt-6 show active" id="opis" role="tabpanel" aria-labelledby="opis-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0 text-justify">Digitalna štampa na tabaku je brza i precizna tehnika
									štampe za male i
									srednje tiraže.
									Ovom tehnologijom se dobija veliki broj različitih proizvoda u visokom
									kvalitetu i rezoluciji.<br><br>
									-Standardni format papira 330 x 488 mm do 400g/m2 papiru<br>
									-MAKSIMALAN FORMAT PAPIRA<br>
									330x720mm do 400g/m2 papiru<br>
									330x1200mm do 250g/m2 papiru<br>
									- 6 boja u jednom prolazu:<br>
									CMYK + kombinacija dve boje (zlato, srebro, bela ili parcijalni lak)

								</p>
							</div>

							<hr class="my-5">

							<!-- List -->
							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>


							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
									<!-- End Social Networks -->
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-6" id="priprema" role="tabpanel" aria-labelledby="priprema-tab">
						<ul class="list-style-none" style="color: #77838f">
							<li><b>Format štampe</b> – 320x480mm, 320x1196mm, 320x725mm</li>
							<li><b>Rezolucija</b> - mora biti minimum 300dpi (tačaka po inču). Za sve ispod toga ne
								garantujemo
								maksimalni
								kvalitet nakon štampe.</li>
							<li><b>Režimi i modeli boja</b> - priprema se radi u CMYK režimu, odnosno Grayscale ako je u
								pitanju
								jednobojna priprema</li>
							<li><b>Tekst</b> - je potrebno konvertovati u krive</li>
							<li><b>Priprema</b> - poželjno je pripremu slati u PDF formatu</li>
						</ul>
						<br><br>
						<p>Za sve dodatne informacije kontaktirajte naše grafičke operatere</p>
						<hr class="my-5">

						<!-- List -->
						<ul class="list-unstyled mb-0">
							<li class="media mb-1">
								<div class="d-flex w-40 w-sm-30">
									<h3 class="h6">Rok isporuke</h3>
								</div>
								<div class="media-body">
									<small class="text-muted">
										Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
										isporuke
									</small>
								</div>
							</li>


						</ul>
						<!-- End List -->

						<hr class="my-5">

						<div class="media">
							<div class="d-flex w-40 w-sm-30">
								<h4 class="h6">Podeli</h4>
							</div>
							<div class="media-body">
								<!-- Social Networks -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item">
										<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
											<span class="fab fa-facebook-f btn-icon__inner"></span>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
											<span class="fab fa-google btn-icon__inner"></span>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
											<span class="fab fa-twitter btn-icon__inner"></span>
										</a>
									</li>
								</ul>
								<!-- End Social Networks -->
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-6" id="dorada" role="tabpanel" aria-labelledby="dorada-tab">
						<ul class="list-style-none" style="color: #77838f">
							<li>
								Plastifikacija se koristi da bi određenom artiklu dala luksuzniji i skuplji izgled, da
								bi ga zaštitila ili da bi ga učvrstila.
								Plastifikacija može biti mat ili sjajna, jednostrana ili obostrana (u odnosu na jedan
								tabak papira)
							</li>
							<li>
								Sečenje na željeni format.
							</li>
						</ul>
						<hr class="my-5">

						<!-- List -->
						<ul class="list-unstyled mb-0">
							<li class="media mb-1">
								<div class="d-flex w-40 w-sm-30">
									<h3 class="h6">Rok isporuke</h3>
								</div>
								<div class="media-body">
									<small class="text-muted">
										Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
										isporuke
									</small>
								</div>
							</li>


						</ul>
						<!-- End List -->

						<hr class="my-5">

						<div class="media">
							<div class="d-flex w-40 w-sm-30">
								<h4 class="h6">Podeli</h4>
							</div>
							<div class="media-body">
								<!-- Social Networks -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item">
										<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
											<span class="fab fa-facebook-f btn-icon__inner"></span>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
											<span class="fab fa-google btn-icon__inner"></span>
										</a>
									</li>
									<li class="list-inline-item">
										<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="#">
											<span class="fab fa-twitter btn-icon__inner"></span>
										</a>
									</li>
								</ul>
								<!-- End Social Networks -->
							</div>
						</div>
					</div>
				</div>
				<!-- End Tab Content -->
			</div>


		</div>
	</div>
	<!-- End Description Section -->

	<!-- Sticky Block End Point -->
	<div id="stickyBlockEndPoint"></div>


	<!-- Kalkulator Section -->
	<div class="container space-2">
		<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border" role="tablist">
			<li class="nav-item">
				<a class="nav-link font-weight-medium m-0 active" id="standard-tab" data-toggle="pill" href="#standard"
					role="tab" aria-controls="standard" aria-selected="true">
					<div class="d-md-flex justify-content-md-center align-items-md-center">

						Standarna cena
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link font-weight-medium m-0" id="vip-tab" data-toggle="pill" href="#vip" role="tab"
					aria-controls="vip" aria-selected="false">
					<div class="d-md-flex justify-content-md-center align-items-md-center">

						Vip cena
					</div>
				</a>
			</li>

		</ul>
		<div class="card bg-light p-5">
			<!-- Total Price -->
			<div class="mb-4">
				<span class="h4 font-weight-medium">Kalkulator</span>
				<hr class="">
			</div>

			<!-- End Total Price -->

			<!-- Stats -->
			<div class="tab-content">


				<div class="tab-pane fade pt-6 show active" id="standard" role="tabpanel"
					aria-labelledby="standard-tab">

					<div class="row mb-2 mb-lg-0">
						<div class="col-lg-7 mb-2 mb-lg-0">
							<!-- Calculator Form -->
							<form class="row" id="form">
								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Vrsta papira</label>

									<select class="custom-select selectList" id="papira" name="papira">
										<option selected>Izaberite vrstu papira</option>

										<option value="0">Konstdruk papir</option>

										<option value="2">Muflon-papirna nalepnica</option>


									</select>
									<!-- End Input -->
								</div>

								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Tiraz</label>

									<input class="custom-input target" type="number" id="totalval" value="0">
									<!-- <option value="" ></option> -->

									<!-- <option value="tabaka1">1-10 Tabaka</option>
										<option value="tabaka2" selected>11-100 Tabaka</option>
										<option value="tabaka3">101-250 Tabaka</option>
										<option value="tabaka4">251-500 Tabaka</option>
										<option value="tabaka5">preko 500 Tabaka</option> -->

									<!-- End Input -->
								</div>

								<div class="w-100"></div>

								<div class="col-md-12 mb-4">
									<div class="mb-4">
										<span class="form-label font-weight-medium">Debljina papira</span>
									</div>
									<!-- Radio Checkbox Group -->
									<div class="row mx-gutters-2">
										<div class="col-6 col-md-3 mb-3 mb-md-0">
											<div
												class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
												<input type="radio" id="typeOfListingRadio1" name="typeOfListingRadio1"
													value="0" class="custom-control-input checkbox-outline__input">
												<label class="checkbox-outline__label rounded py-3 px-1 mb-0"
													for="typeOfListingRadio1">
													<img class="js-svg-injector w-25 mb-3"
														src="../../../assets/svg/icons/icon-37.svg" alt="SVG"
														data-parent="#uploadForm">
													<span class="d-block">150gr</span>
												</label>
											</div>
										</div>
										<div class="col-6 col-md-3 mb-3 mb-md-0">
											<div
												class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
												<input type="radio" id="typeOfListingRadio2" name="typeOfListingRadio1"
													value="0" class="custom-control-input checkbox-outline__input"
													checked>
												<label class="checkbox-outline__label rounded py-3 px-1 mb-0"
													for="typeOfListingRadio2">
													<img class="js-svg-injector w-25 mb-3"
														src="../../../assets/svg/icons/icon-37.svg" alt="SVG"
														data-parent="#uploadForm">
													<span class="d-block">200gr</span>
												</label>
											</div>
										</div>
										<div class="col-6 col-md-3">
											<div
												class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
												<input type="radio" id="typeOfListingRadio3" name="typeOfListingRadio1"
													value="0" class="custom-control-input checkbox-outline__input">
												<label class="checkbox-outline__label rounded py-3 px-1 mb-0"
													for="typeOfListingRadio3">
													<img class="js-svg-injector w-25 mb-3"
														src="{{root}}assets/svg/icons/icon-37.svg" alt="SVG"
														data-parent="#uploadForm">
													<span class="d-block">300gr</span>
												</label>
											</div>
										</div>
										<div class="col-6 col-md-3">
											<div
												class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
												<input type="radio" id="typeOfListingRadio4" name="typeOfListingRadio1"
													value="5" class="custom-control-input checkbox-outline__input">
												<label class="checkbox-outline__label rounded py-3 px-1 mb-0"
													for="typeOfListingRadio4">
													<img class="js-svg-injector w-25 mb-3"
														src="{{root}}assets/svg/icons/icon-37.svg" alt="SVG"
														data-parent="#uploadForm">
													<span class="d-block">350gr</span>
												</label>
											</div>
										</div>
									</div>
									<!-- End Radio Checkbox Group -->
								</div>

								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Boja</label>

									<select class="custom-select selectList" id="color">
										<option value="0">4/0 Ful kolor jednostrano</option>
										<option value="1">4/4 Ful kolor obostrano</option>
									</select>
									<!-- End Input -->
								</div>

								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Usluga secenja</label>
									<select class="custom-select" id="tabak" name="tabak">
										<option value="0" selected>Izaberite uslugu secenja</option>
										<option value="2">1-3 Tabaka</option>
										<option value="4">3-40 Tabaka</option>
										<option value="5">41-250 Tabaka</option>
										<option value="6">250-1000 Tabaka</option>
									</select>
									<!-- End Input -->
								</div>
							</form>
							<!-- End Calculator Form -->
						</div>

						<div class="col-lg-5 align-self-center">
							<!-- Stats -->
							<div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-5" style="height: 330px;">
								<!-- Title & Settings -->
								<div class="d-flex justify-content-between align-items-center">
									<h4 class="h6 text-white mb-0">Ukupno</h4>

								</div>
								<!-- End Title & Settings -->

								<hr class="opacity-md mt-3 mb-4">

								<!-- Referral Info -->
								<div class="py-2">
									<div class="row">
										<div class="col-12">
											<div class="mb-3">
												<span class="align-top text-white">DIN</span>
												<span class="text-white font-size-3 font-weight-medium text-lh-sm"
													id="ukupno"></span>
											</div>
											<div class="mb-2">
												<span class="text-white-70 font-size-1 pr-1" id="papiri"></span>
												<span class="text-white font-weight-medium font-size-1"></span>
											</div>
											<div class="mb-2">
												<span class="text-white-70 font-size-1 pr-1" id="jedan"></span>
												<span class="text-white font-weight-medium font-size-1 " id="komad">
												</span>
											</div>
											<div class="mb-2">
												<span class="text-white-70 font-size-1 pr-1" id="kolor"></span>
												<span class="text-white font-weight-medium font-size-1 "
													id="cena2"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="ime"></span>
												<span class="text-white font-weight-medium font-size-1"
													id="cijena"></span>
											</div>
										</div>
									</div>
								</div>
								<!-- End Referral Info -->
							</div>
							<!-- End Stats -->
						</div>
					</div>
					<!-- End Stats -->


				</div>

				<div class="tab-pane fade pt-6" id="vip" role="tabpanel" aria-labelledby="vip-tab">

					<div class="row mb-2 mb-lg-0">
						<div class="col-lg-7 mb-2 mb-lg-0">
							<!-- Calculator Form -->

							<form class="row" id="forma" name="nameform">
								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Dimenzije:</label>

									<select class="custom-select" id="dimension">
										<option disabled selected>Izaberite dimenziju</option>
										<option value="1">90mm x 50mm</option>
									</select>
									<!-- End Input -->
								</div>

								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Tiraz</label>

									<select class="custom-select" id="kolicina">
										<option disabled selected>Izaberite broj vizit karti</option>


									</select>
									<!-- End Input -->
								</div>

								<div class="w-100"></div>

								<div class="col-md-12 mb-4">
									<div class="mb-4">
										<span class="form-label font-weight-medium">Debljina papira</span>
									</div>
									<!-- Radio Checkbox Group -->
									<div class="row mx-gutters-2">
										<div class="col-6 col-md-3">
											<div
												class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
												<input type="radio" id="typeOfListingRadio3" name="typeOfListingRadio1"
													class="custom-control-input checkbox-outline__input">
												<label class="checkbox-outline__label rounded py-3 px-1 mb-0"
													for="typeOfListingRadio3">
													<img class="js-svg-injector w-25 mb-3"
														src="../../../assets/svg/icons/icon-37.svg" alt="SVG"
														data-parent="#uploadForm">
													<span class="d-block">300gr</span>
												</label>
											</div>
										</div>
										<div class="col-6 col-md-3">
											<div
												class="custom-control custom-radio custom-control-inline checkbox-outline text-center">
												<input type="radio" id="typeOfListingRadio4" name="typeOfListingRadio1"
													class="custom-control-input checkbox-outline__input">
												<label class="checkbox-outline__label rounded py-3 px-1 mb-0"
													for="typeOfListingRadio4">
													<img class="js-svg-injector w-25 mb-3"
														src="../../../assets/svg/icons/icon-37.svg" alt="SVG"
														data-parent="#uploadForm">
													<span class="d-block">350gr</span>
												</label>
											</div>
										</div>
									</div>
									<!-- End Radio Checkbox Group -->
								</div>
								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Boja</label>

									<select class="custom-select" id="value">
										<option disabled selected>Izaberite boju</option>
										<option value="0">4/0 Ful kolor jednostrano</option>
										<option value="1">4/4 Ful kolor obostrano</option>
										<option value="2">1/0 Crno-belo jednostrano</option>
										<option value="3">1/1 Crno-belo dvostrano</option>
									</select>
									<!-- End Input -->
								</div>

								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Plastifikacija</label>

									<!-- <select class="custom-select" id="plastik">
							<option>Izaberite plastificiranje</option>
							<option ></option>
							<option ></option>

						</select> -->


									<div class="form-check form-check-inline">
										<div class="custom-control custom-radio">
											<input type="radio" id="customInlineRadio2"
												class="custom-control-input plastik" name="customInlineRadio" value="1"
												data-value="Mat">
											<label class="custom-control-label" for="customInlineRadio2">Mat</label>
										</div>
									</div>
									<div class="form-check form-check-inline">
										<div class="custom-control custom-radio">
											<input type="radio" id="customInlineRadio1"
												class="custom-control-input plastik" name="customInlineRadio" value="1"
												data-value="Sjaj">
											<label class="custom-control-label" for="customInlineRadio1">Sjaj</label>
										</div>
									</div>
									<div class="form-check form-check-inline">
										<div class="custom-control custom-radio">
											<input type="radio" id="customInlineRadio3"
												class="custom-control-input indeterminate-checkbox plastik"
												name="customInlineRadio" value="2" data-value="Bez plastifikacije">
											<label class="custom-control-label" for="customInlineRadio3">Bez
												plastifikacije</label>
										</div>
									</div>
								</div>

								<!-- End Input -->

								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Clear lak</label>
									<!-- <select class="custom-select" id="lak">
							<option selected>Izaberite Clear lak</option>
							<option value="1">Da</option>
							<option value="2">Ne</option>
						</select> -->

									<div class="form-check form-check-inline">
										<div class="custom-control custom-radio">
											<input type="radio" id="customInlineRadio5" class="custom-control-input lak"
												name="custom" value="1" data-value="Da">
											<label class="custom-control-label" for="customInlineRadio5">Da</label>
										</div>
									</div>
									<div class="form-check form-check-inline">
										<div class="custom-control custom-radio">
											<input type="radio" id="customInlineRadio4" class="custom-control-input lak"
												name="custom" value="2" data-value="Ne">
											<label class="custom-control-label" for="customInlineRadio4">Ne</label>
										</div>
									</div>
									<!-- End Input -->
								</div>


								<div class="col-md-6 mb-4">
									<!-- Input -->
									<label class="form-label">Coskiranje</label>
									<select class="custom-select" id="cosak">
										<option disabled selected>Izaberite coskiranje</option>
										<option value="0" selected>Bez coskiranja</option>
										<option value="1">Sa coskiranjem</option>

									</select>
									<!-- End Input -->
								</div>
							</form>
							<!-- End Calculator Form -->
							<div class="mb-2">
								<span class="text font-size-1 pr-1" id="tekst3"></span> <br>
								<span class="text font-size-1 pr-1" id="tekst4"></span> <br>

								<span class="text font-size-1 pr-1" id="tekst"></span>
							</div>
						</div>

						<div class="col-lg-5 align-self-center">
							<!-- Stats -->
							<div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-5" style="height: 330px;">
								<!-- Title & Settings -->
								<div class="d-flex justify-content-between align-items-center">
									<h4 class="h6 text-white mb-0">Ukupno</h4>

								</div>
								<!-- End Title & Settings -->

								<hr class="opacity-md mt-3 mb-4">

								<!-- Referral Info -->
								<div class="py-2">
									<div class="row">
										<div class="col-12">
											<div class="mb-3">
												<span class="align-top text-white">EUR</span>
												<span class="text-white font-size-3 font-weight-medium text-lh-sm"
													id="rez"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="paper"></span>
												<span class="text-white font-weight-medium font-size-1"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="broj"></span>
												<span class="text-white font-weight-medium font-size-1"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="color"></span>
												<span class="text-white font-weight-medium font-size-1"
													id="cijena"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="plastifikacija"></span>
												<span class="text-white font-weight-medium font-size-1"
													id="cenaPlast"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="lakText"></span>
												<span class="text-white font-weight-medium font-size-1"
													id="cenaLak"></span>
											</div>
											<div class="">
												<span class="text-white-70 font-size-1 pr-1" id="tekst2"></span>
											</div>
										</div>
									</div>
								</div>
								<!-- End Referral Info -->
							</div>
							<!-- End Stats -->
						</div>
					</div>
					<!-- End Stats -->


				</div>




			</div>
		</div>


	</div>

	<!-- End Kalkulator Section -->


</main>