<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2  space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-autoplay="true" data-speed="5000"
						 data-arrows="true"
						 data-infinite="true"
						 data-nav-for="#sliderSyncingThumb"
						 data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
						 data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
						 data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-1.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-2.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-3.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-4.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-5.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-6.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-7.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-8.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-9.jpg"
								 alt="Image Description">
					</div>
				</div>

				<div id="sliderSyncingThumb"
						 class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off" data-infinite="true"
						 data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav" data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-1.jpg" alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-2.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-3.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-4.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-5.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-6.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-7.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-8.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid" src="{{root}}assets/img/proizvodi/reklamne-table/reklamne-table-9.jpg"
								 alt="Image Description">
					</div>
				</div>
			</div>
			<div class="col-lg-7 mb-7 mb-lg-0 mt-10">
				<h3>A table ili sendvič table</h3>
				<p>
					A table se izrađuju od eloksiranog aluminijuma koji se otvara i zatvara po
					principu klik-klak sistema. Štampa je zaštićena anti-refleks folijom čime joj se
					produžava vek trajanja u smisliu uv zaštite i vodo-otpornosti.
					Odlikuje ih izuzetna stabilnost, laka zamena štampe koja se obično radi na
					plakat papriu, mobilnost, laka montaža-demontaža.
				</p>


				<h3>Aluminijumske table</h3>
				<p>
					Aluminijumske table se izrađuju na podlozi koja je od aluminijuma. Obično se
					cela površina table prelepljuje štampanom PVC folijom.
				</p>


				<h3>Aluminijumski klik-klak ramovi</h3>
				<p>
					Klik ramovi se izrađuju od kvalitetnog srebrno anodizovanog aluminijuma. Sastoje
					se od leđnog panela na koji se montira poster i zaštitnog providnog panela koji
					se postavlja preko postera (štiti poster od vlage, prašine i drugih spoljnih
					uticaja). Izmena postera se vrši jednostavnim otvaranjem pokretnih lajsni i
					uklanjanjem zaštitnog panela. Aluminijumski ramovi se prodaju u kompletu sa
					anti-refleks folijom, paketom tiplova i šrafova.
				</p>


				<h3>Metalne table</h3>
				<p>
					Metalne table se izrađuju od metalne konstrukcije sa displejom od pocinkovanog
					lima. Postoji i kombinacija metalne konstrukcije i ceradnog platna. Metalne
					table su najbolje rešenje za putokaze, gradilišne table i banderašice.
				</p>


				<h3>Table od foreksa</h3>
				<p>
					Foreks table se izrađuju tako što se na podlozi koja je od foreksa lepi štampana
					PVC folija. Može se prelepiti cela površina foreksa ili se folija seče u
					određenim detaljima koji se lepe na podlogu. Takođe, postoji mogućnost direktne
					digitalne UV štampe koja je veoma postojana i otporna na grebanje.
				</p>


				<h3>Table od graverske plastike</h3>
				<p>
					Table od graverske plastike se koriste za označavanje poslovnih objekata,
					ulaznih vrata, službenih prostorija, hotela, ugostiteljskih objekata,
					advokatskih kancelarija, lekarskih ordinacija i dr. Materijal koji se koristi za
					izradu tabli je graverska plastika ili graverska folija koja je uv stabilna i
					otporna na grebanje. Njena standardna debljina je 1,5 mm.Table se personalizuju
					laserskom gravurom što isključuje svaku mogućnost da dođe do određenog skidanja
					boje ili promene boje slova
				</p>


				<h3>Table od kartonske pene</h3>
				<p>
					Table se izrađuju na podlozi koja je od kartonske pene. Kartonska pena (foam) je
					izuzetno lagan materijal koji je osetljiv na vlagu, pa se samim tim koristi samo
					za unutrašnju dekoraciju. Štampa se radi na PVC foliji, a zatim se table
					montiraju na zid uz pomoć duplofan trake ili silikona.
				</p>


				<h3>Table od klirita</h3>
				<p>
					Table od klirita ili pleksiglasa se izrađuju tako što se na podlozi koja je od
					klirita lepi štampana PVC folija. Može se prelepiti cela površina klirita ili se
					folija seče u određenim detaljima koji se lepe na podlogu. Takođe, postoji
					mogućnost direktne digitalne UV štampe koja je veoma postojana i otporna na
					grebanje.
				</p>


				<h3>Table od leksana</h3>
				<p>
					Table se izrađuju na podlozi od leksana. Leksan je lagan materijal i ima saćastu
					strukturu. Može biti u providnoj ili mlečnoj boji. Štampa se radi na PVC foliji.
					Može se prelepiti cela površina leksana ili se folija seče u određenim detaljima
					koji se lepe na podlogu. Takođe, postoji mogućnost direktne digitalne UV štampe
					koja je veoma postojana i otporna na grebanje.
				</p>
			</div>
			<div id="stickyBlockStartPoint" class="col-lg-5">
				<div class="js-sticky-block"
						 data-parent="#stickyBlockStartPoint" data-sticky-view="lg"
						 data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="50"
						 data-offset-bottom="">
					<h1 class="h4 text-primary font-weight-semi-bold">Reklamne table</h1>
					<!-- Nav Classic -->
					<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border"
							role="tablist">
						<li class="nav-item">
							<a class="nav-link font-weight-medium m-0 active" id="pills-one-example2-tab" data-toggle="pill"
								 href="#pills-one-example2" role="tab" aria-controls="pills-one-example2"
								 aria-selected="true">
								<div class="d-md-flex justify-content-md-center align-items-md-center">

									Opis
								</div>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link font-weight-medium m-0" id="pills-two-example2-tab" data-toggle="pill"
								 href="#pills-two-example2" role="tab" aria-controls="pills-two-example2"
								 aria-selected="false">
								<div class="d-md-flex justify-content-md-center align-items-md-center">

									Vrste
								</div>
							</a>
						</li>
					</ul>
					<!-- End Nav Classic -->

					<!-- Tab Content -->
					<div class="tab-content">
						<div class="tab-pane fade pt-6 show active" id="pills-one-example2" role="tabpanel"
								 aria-labelledby="pills-one-example2-tab">
							<div class=" ">
								<div class="mb-6">
									<p class="mb-0 text-justify">
										Reklamne table su idealan vid oglašavanja. Čine savršen proizvod za sve koji
										žele da njihov brend bude u potpunosti vidljiv i prepoznatljiv. Table se rade na
										svim vrstama podloga i različitim tehnikama brendiranja. Mogu biti namenjene za
										unutrašnje i spoljašnje obeležavanje ili reklamu.
									</p>
								</div>

								<hr class="my-5">
								<!-- List -->
								<ul class="list-unstyled mb-0">
									<li class="media mb-1">
										<div class="d-flex w-40 w-sm-30">
											<h3 class="h6">Rok isporuke</h3>
										</div>
										<div class="media-body">
											<small class="text-muted">
												Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
												isporuke
											</small>
										</div>
									</li>
								</ul>
								<!-- End List -->

								<hr class="my-5">

								<div class="media">
									<div class="d-flex w-40 w-sm-30">
										<h4 class="h6">Podeli</h4>
									</div>
									<div class="media-body">
										<!-- Social Networks -->
										<ul class="list-inline mb-0">
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-facebook-f btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-google btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-twitter btn-icon__inner"></span>
												</a>
											</li>
										</ul>
										<!-- End Social Networks -->
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade pt-6" id="pills-two-example2" role="tabpanel"
								 aria-labelledby="pills-two-example2-tab">
							<div class=" ">
								<div class="mb-6">
									<p class="mb-0">
									<ul class="list-style-none" style="color: #77838f">
										<li>Dimenzije - po zahtevu klijenta</li>
										<li>Table od foreksa</li>
										<li>Table od klirita</li>
										<li>Table od leksana</li>
										<li>Table od kartonske pene</li>
										<li>Aluminijumske table</li>
										<li>Metalne table</li>
										<li>Aluminijumski klik-klak ramovi</li>
										<li>A table</li>
										<li>Table od graverske plastike</li>
									</ul>
									</p>
								</div>
								<hr class="my-5">

								<!-- List -->

								<ul class="list-unstyled mb-0">
									<li class="media mb-1">
										<div class="d-flex w-40 w-sm-30">
											<h3 class="h6">Rok isporuke</h3>
										</div>
										<div class="media-body">
											<small class="text-muted">
												Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
												isporuke
											</small>
										</div>
									</li>
								</ul>
								<!-- End List -->

								<hr class="my-5">

								<div class="media">
									<div class="d-flex w-40 w-sm-30">
										<h4 class="h6">Podeli</h4>
									</div>
									<div class="media-body">
										<!-- Social Networks -->
										<ul class="list-inline mb-0">
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-facebook-f btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-google btn-icon__inner"></span>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
													 href="#">
													<span class="fab fa-twitter btn-icon__inner"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- End Social Networks -->
							</div>
						</div>

						<div class="tab-pane fade pt-6" id="pills-three-example2" role="tabpanel"
								 aria-labelledby="pills-three-example2-tab">
							<p class="mb-0 text-justify">
							<ul class="list-style-none" style="color: #77838f">
								<li>Češljano srebro / crno</li>
								<li>Mat srebro / crno</li>

								<li>Češljano zlato / crno</li>
								<li>Mat zlato / crno</li>

								<li>Češljana bronza / crno</li>
								<li>Češljani nikl / crno</li>
								<li>U bojama</li>


							</ul>
							</p>
							<hr class="my-5">

							<!-- List -->

							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>
							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												 href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												 href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												 href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<!-- End Tab Content -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Description Section -->

	<!-- Sticky Block End Point -->
	<div id="stickyBlockEndPoint"></div>


	<!-- Contact Us Section -->
	<div id="SVGwave1BottomSMShapeID2" class="svg-preloader1">
		<div class="">
			<div class="container space-top-2 space-bottom-2 space-top-md-3 space-bottom-md-3">
				<div class="row justify-content-center align-items-md-start">
					<div class="col-md-12 text-center mb-7 mb-md-5 mt-3">
						<h2 class="text-dark mb-5">Treba vam pomoć? <span class="font-weight-semi-bold">Imate
								upit?</span></h2>
					</div>

					<div class="col-md-8 mt-md-auto text-left">
						<!-- Contacts Form -->
						<form class="js-validate" id="contact-form" role="form" autocomplete="on">


							<div class="row">

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="firm">
											Naziv firme
										</label>

										<input type="text" class="form-control" id="firm" name="firm"
											placeholder="Microsoft" aria-label="Firma" required
											data-msg="Molimo ukucajte ime vase firme" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="pib">
											Pib
										</label>

										<input type="number" class="form-control" id="pib" name="pib"
											placeholder="123456789" aria-label="pib" required
											data-msg="Molimo ukucajte vas PIB" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<div class="w-100"></div>

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="name">
											Ime i prezime
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="name" name="name"
											placeholder="Petar Petrovic" aria-label="Firma" required
											data-msg="Molimo ukucajte ime vase firme" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="phone">
											Broj telefona
											<span class="text-danger">*</span>
										</label>

										<input type="number" class="form-control" id="phone" name="phone"
											placeholder="0641234567" aria-label="1-800-643-4500" required
											data-msg="Unesite validan broj telefona" data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="address">
											Adresa
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="address" name="address"
											placeholder="Bulevar Patrijarha Pavla 12a" aria-label="Adresa" required
											data-msg="Molimo ukucajte vašu adresu stanovanja"
											data-error-class="u-has-error" data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="email">
											Email adresa
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="email" name="email"
											placeholder="petar@petrovic.com" aria-label="Adresa" required
											data-msg="Molimo ukucajte vašu imejl adresu" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->
							</div>


							<div class="row mt-5">
								<div class="col-sm-12">
									<h4 class="text-dark mb-5 text-center">Opis posla</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 mb-6" hidden>
									<div class="js-form-message">
										<label class="form-label text-dark" for="product">
											Naziv proizvoda
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="product" name="product"
											placeholder="Vizit karte, flajeri, brosure..." aria-label="Adresa" required
											data-msg="Molimo unesite ime proizvoda" data-error-class="u-has-error"
											data-success-class="u-has-success" value="Reklamne table">
									</div>
								</div>

								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="small text-uppercase" for="tiraz">
											Tiraž
											<span class="text-danger">*</span>
										</label>

										<input type="number" class="form-control" id="tiraz" name="tiraz"
											placeholder="0" aria-label="Adresa" required
											data-msg="Molimo unesite ime proizvoda" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<div class="col-sm-6 mb-6">
									<div class="form-group">
										<label for="priprema" class="text-uppercase small">Priprema</label>
										<span class="text-danger">*</span>
										<select class="form-control" id="priprema" name="priprema">
											<option value="Dostavlja porucilac">Dostavlja porucilac</option>
											<option value="Pripremu radi GRAFOmarketing">Pripremu radi GRAFOmarketing</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mb-5">
									<!-- Datepicker -->
									<label class="small text-uppercase" for="isporuka">
										Rok isporuke
										<span class="text-danger">*</span>
									</label>
									<div id="" class="u-datepicker input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<span class="fas fa-calendar"></span>
											</span>
										</div>
										<input class="js-range-datepicker form-control bg-transparent rounded-right"
											type="text" name="isporuka" id="isporuka"
											placeholder="Rok isporuke zavisi od vašeg zahteva, obima posla, i dana od overene pripreme."
											aria-label="From" data-rp-wrapper="#datepickerWrapperFrom"
											data-rp-date-format="d/m/Y">
									</div>
									<!-- End Datepicker -->
								</div>
							</div>

							<!-- Input -->
							<div class="js-form-message mb-6 mt-5">
								<label class="form-label text-dark" for="message">
									Detaljan opis štampe i dorade
									<span class="text-danger">*</span>
								</label>

								<div class="input-group">
									<textarea class="form-control" rows="4" id="message" name="message"
										placeholder="Vrsta i gramatura papira, obostrana ili jednostrana štampa, kolor ili crno bela štampa, plastifikacija, lepljenje, numeracija, lakiranje, sečenje, bigovanje..."
										aria-label="Hi there, I would like to ..." required
										data-msg="Please enter a reason." data-error-class="u-has-error"
										data-success-class="u-has-success"></textarea>
								</div>
							</div>


							<!-- End Input -->
							<div class="text-center">
								<button type="submit"
									class="btn btn-primary btn-wide transition-3d-hover mb-4">Pošalji</button>
							</div>

							<div class="messages"></div>

						</form>
						<!-- End Contacts Form -->
					</div>
				</div>
			</div>
		</div>

		<!-- SVG Background
					<figure class="position-absolute right-0 bottom-0 left-0 z-index-1">
						<img class="js-svg-injector" src="../../../../assets/svg/components/irregular-shape-2-bottom-3.svg"
							alt="Image Description" data-parent="#SVGwave1BottomSMShapeID2">
					</figure>
					End SVG Background -->
	</div>
	<!-- End Contact Us Section -->

</main>
