<!-- ========== MAIN ================ -->
<main id="content" role="main">
	<!-- Description Section -->
	<div class="container space-2  space-top-md-2 space-bottom-md-2">
		<div class="row">
			<div class="col-lg-7 mb-7 mb-lg-0">
				<div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2" data-autoplay="true" data-speed="5000"
						 data-arrows="true"
						 data-infinite="true"
						 data-nav-for="#sliderSyncingThumb"
						 data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
						 data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
						 data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4">
					<div class="js-slide">
						<img class="img-fluid"
								 src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-1.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
								 src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-2.jpg"
								 alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-3.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-4.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-5.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-6.jpg"
							alt="Image Description">
					</div>
				</div>

				<div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
					data-infinite="true" data-slides-show="3" data-is-thumbs="true" data-nav-for="#sliderSyncingNav"
					data-responsive='[{
		 "breakpoint": 992,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 768,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }, {
		 "breakpoint": 554,
		 "settings": {
			 "slidesToShow": 3
		 }
	 }]'>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-1.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-2.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-3.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-4.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-5.jpg"
							alt="Image Description">
					</div>
					<div class="js-slide" style="cursor: pointer;">
						<img class="img-fluid"
							src="{{root}}assets/img/proizvodi/stampa-na-slikarskom-platnu/stampa-na-slikarskom-platnu-6.jpg"
							alt="Image Description">
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<h1 class="h4 text-primary font-weight-semi-bold">Štampa na slikarskom platnu</h1>
				<!-- Nav Classic -->
				<ul id="proizvodi-navs" class="nav nav-classic nav-rounded nav-shadow nav-justified border"
					role="tablist">
					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0 active" id="pills-one-example2-tab" data-toggle="pill"
							href="#pills-one-example2" role="tab" aria-controls="pills-one-example2"
							aria-selected="true">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Opis
							</div>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link font-weight-medium m-0" id="pills-two-example2-tab" data-toggle="pill"
							href="#pills-two-example2" role="tab" aria-controls="pills-two-example2"
							aria-selected="false">
							<div class="d-md-flex justify-content-md-center align-items-md-center">

								Priprema
							</div>
						</a>
					</li>

					<!--	<li class="nav-item">
							<a class="nav-link font-weight-medium m-0" id="pills-three-example2-tab" data-toggle="pill"
								href="#pills-three-example2" role="tab" aria-controls="pills-three-example2"
								aria-selected="false">
								<div class="d-md-flex justify-content-md-center align-items-md-center">

									Saveti
								</div>
							</a>
						</li>  -->
				</ul>
				<!-- End Nav Classic -->

				<!-- Tab Content -->
				<div class="tab-content">


					<div class="tab-pane fade pt-6 show active" id="pills-one-example2" role="tabpanel"
						aria-labelledby="pills-one-example2-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0 text-justify">
									Kanvas platno ili slikarsko platno predstavlja vrlo popularan način dekoracije
									unutrašnjih prostora.
									<br>
									Štampa platna se vrši na mašini velikog formata u foto rezoluciji, na
									kvalitetnim materijalima evropskih proizvođača. Postoji mogućnost da se platno
									naknadno premaže lakom kao zaštita od UV zračenja i dobijanja visokog sjaja.
									<br>
									Štampa se radi na kvalitetnom pamučnom platnu 380g, sa korišćenjem zasićenih
									boja na vodenoj bazi koje nisu štetne po zdravlje čoveka.
									<br>
									Ograničenja ne postoje: možete birati dizajn i veličinu koja Vama odgovara, u
									singl, diptih, triptih varijantama...
								</p>
							</div>

							<hr class="my-5">

							<!-- List -->


							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>
								<!--	<hr class="my-5">
									<li class="media mb-1">
										<div class="d-flex w-40 w-sm-30">
											<h3 class="h6">Napomena</h3>
										</div>
										<div class="media-body">
											<small class="text-muted">
												Odgovaramo samo za reklamacije koje se tiču kvaliteta štampe. Sve
												popravke koje se tiču konstrukcije i zamene delova se dodatno naplaćuju.
											</small>
										</div>
									</li> -->
							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
									<!-- End Social Networks -->
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-6" id="pills-two-example2" role="tabpanel"
						aria-labelledby="pills-two-example2-tab">
						<div class=" ">
							<div class="mb-6">
								<p class="mb-0">
								<ul class="list-style-none" style="color: #77838f">
									<li>Dimenzije - po zahtevu klijenta</li>
									<li>Obrez - prilikom pripreme potrebno je ostaviti 50 mm sa svake strane
										(višak koji se ostavlja za uramljivanje-natezanje na blind ram )
									</li>
									<li>Sadržaj - sadržaj u pripremi je potrebno odmaći 10 mm od ivice.</li>
									<li>Rezolucija - mora biti od 300dpi (tačaka po inču). Za sve ispod toga
										ne garantujemo maksimalni kvalitet nakon štampe.</li>
									<li>Režimi i modeli boja - priprema se radi u CMYK režimu, odnosno Grayscale
										ako je u pitanju jednobojna priprema </li>
									<li>Tekst - je potrebno konvertovati u krive</li>
									<li>Priprema - poželjno je pripremu slati u PDF formatu</li>

									<li>Za sve dodatne informacije kontaktirajte naše grafičke operatere</li>

								</ul>


								</p>
							</div>
							<hr class="my-5">

							<!-- List -->

							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>

								<!--	<hr class="my-5">
									<li class="media mb-1">
										<div class="d-flex w-40 w-sm-30">
											<h3 class="h6">Napomena</h3>
										</div>
										<div class="media-body">
											<small class="text-muted">
												Odgovaramo samo za reklamacije koje se tiču kvaliteta štampe. Sve
												popravke koje se tiču konstrukcije i zamene delova se dodatno naplaćuju.
											</small>
										</div>
									</li> -->
							</ul>
							<!-- End List -->

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks -->
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- End Social Networks -->
						</div>
					</div>

					<!--	<div class="tab-pane fade pt-6" id="pills-three-example2" role="tabpanel"
							aria-labelledby="pills-three-example2-tab">
							<p class="mb-0">
								Saveti za pronalaženje kvalitetnih slika za tapete:
								<br>
								<ul class="list-style-none" style="color: #77838f">
									<li>Ukucajte www.google.rs</li>
									<li>Izaberite na vrhu stranice: Slike (opcija za pretragu slika)</li>
									<li>Unesite tekst ili naziv za koji želite da dobijete rezultate</li>
									<li>Odmah ispod polja u koje ste uneli tekst izaberite opciju: "Alatke za pretragu"
									</li>
									<li>U delu sa opcijama pronađite opciju "Veličina". Izaberite "Veće od: 2 mp
										(megapiksela)". 2 megapiksela je minimalna rezolucija za rad. Što veci
										kriterijum odaberete (3 mp, 6 mp...) kvalitet slike će biti drastično bolji.
									</li>



								</ul>
							</p>
							<hr class="my-5">

							 List

							<ul class="list-unstyled mb-0">
								<li class="media mb-1">
									<div class="d-flex w-40 w-sm-30">
										<h3 class="h6">Rok isporuke</h3>
									</div>
									<div class="media-body">
										<small class="text-muted">
											Molimo Vas pošaljite upit kako biste dobili tačne informacije o roku
											isporuke
										</small>
									</div>
								</li>
							</ul>
							<!-- End List

							<hr class="my-5">

							<div class="media">
								<div class="d-flex w-40 w-sm-30">
									<h4 class="h6">Podeli</h4>
								</div>
								<div class="media-body">
									<!-- Social Networks
									<ul class="list-inline mb-0">
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-facebook-f btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-google btn-icon__inner"></span>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent"
												href="#">
												<span class="fab fa-twitter btn-icon__inner"></span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div> -->

				</div>
				<!-- End Tab Content -->
			</div>


		</div>
	</div>
	<!-- End Description Section -->

	<!-- Sticky Block End Point -->
	<div id="stickyBlockEndPoint"></div>





	<!-- Contact Us Section -->
	<div id="SVGwave1BottomSMShapeID2" class="svg-preloader1">
		<div class="">
			<div class="container space-top-2 space-bottom-2 space-top-md-3 space-bottom-md-3">
				<div class="row justify-content-center align-items-md-start">
					<div class="col-md-12 text-center mb-7 mb-md-5 mt-3">
						<h2 class="text-dark mb-5">Treba vam pomoć? <span class="font-weight-semi-bold">Imate
								upit?</span></h2>
					</div>

					<div class="col-md-8 mt-md-auto text-left">
						<!-- Contacts Form -->
						<form class="js-validate" id="contact-form" role="form" autocomplete="on">


							<div class="row">

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="firm">
											Naziv firme
										</label>

										<input type="text" class="form-control" id="firm" name="firm"
											placeholder="Microsoft" aria-label="Firma" required
											data-msg="Molimo ukucajte ime vase firme" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="pib">
											Pib
										</label>

										<input type="number" class="form-control" id="pib" name="pib"
											placeholder="123456789" aria-label="pib" required
											data-msg="Molimo ukucajte vas PIB" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<div class="w-100"></div>

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="name">
											Ime i prezime
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="name" name="name"
											placeholder="Petar Petrovic" aria-label="Firma" required
											data-msg="Molimo ukucajte ime vase firme" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="phone">
											Broj telefona
											<span class="text-danger">*</span>
										</label>

										<input type="number" class="form-control" id="phone" name="phone"
											placeholder="0641234567" aria-label="1-800-643-4500" required
											data-msg="Unesite validan broj telefona" data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="address">
											Adresa
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="address" name="address"
											placeholder="Bulevar Patrijarha Pavla 12a" aria-label="Adresa" required
											data-msg="Molimo ukucajte vašu adresu stanovanja"
											data-error-class="u-has-error" data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->

								<!-- Input -->
								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="form-label text-dark" for="email">
											Email adresa
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="email" name="email"
											placeholder="petar@petrovic.com" aria-label="Adresa" required
											data-msg="Molimo ukucajte vašu imejl adresu" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<!-- End Input -->
							</div>


							<div class="row mt-5">
								<div class="col-sm-12">
									<h4 class="text-dark mb-5 text-center">Opis posla</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 mb-6" hidden>
									<div class="js-form-message">
										<label class="form-label text-dark" for="product">
											Naziv proizvoda
											<span class="text-danger">*</span>
										</label>

										<input type="text" class="form-control" id="product" name="product"
											placeholder="Vizit karte, flajeri, brosure..." aria-label="Adresa" required
											data-msg="Molimo unesite ime proizvoda" data-error-class="u-has-error"
											data-success-class="u-has-success" value="Slikarsko platno">
									</div>
								</div>

								<div class="col-sm-6 mb-6">
									<div class="js-form-message">
										<label class="small text-uppercase" for="tiraz">
											Tiraž
											<span class="text-danger">*</span>
										</label>

										<input type="number" class="form-control" id="tiraz" name="tiraz"
											placeholder="0" aria-label="Adresa" required
											data-msg="Molimo unesite ime proizvoda" data-error-class="u-has-error"
											data-success-class="u-has-success">
									</div>
								</div>
								<div class="col-sm-6 mb-6">
									<div class="form-group">
										<label for="priprema" class="text-uppercase small">Priprema</label>
										<span class="text-danger">*</span>
										<select class="form-control" id="priprema" name="priprema">
											<option value="Dostavlja porucilac">Dostavlja porucilac</option>
											<option value="Pripremu radi GRAFOmarketing">Pripremu radi GRAFOmarketing</option>
										</select>
									</div>
								</div>

								<div class="col-sm-12 mb-5">
									<!-- Datepicker -->
									<label class="small text-uppercase" for="isporuka">
										Rok isporuke
										<span class="text-danger">*</span>
									</label>
									<div id="" class="u-datepicker input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<span class="fas fa-calendar"></span>
											</span>
										</div>
										<input class="js-range-datepicker form-control bg-transparent rounded-right"
											type="text" name="isporuka" id="isporuka"
											placeholder="Rok isporuke zavisi od vašeg zahteva, obima posla, i dana od overene pripreme."
											aria-label="From" data-rp-wrapper="#datepickerWrapperFrom"
											data-rp-date-format="d/m/Y">
									</div>
									<!-- End Datepicker -->
								</div>
							</div>

							<!-- Input -->
							<div class="js-form-message mb-6 mt-5">
								<label class="form-label text-dark" for="message">
									Detaljan opis štampe i dorade
									<span class="text-danger">*</span>
								</label>

								<div class="input-group">
									<textarea class="form-control" rows="4" id="message" name="message"
										placeholder="Vrsta i gramatura papira, obostrana ili jednostrana štampa, kolor ili crno bela štampa, plastifikacija, lepljenje, numeracija, lakiranje, sečenje, bigovanje..."
										aria-label="Hi there, I would like to ..." required
										data-msg="Please enter a reason." data-error-class="u-has-error"
										data-success-class="u-has-success"></textarea>
								</div>
							</div>


							<!-- End Input -->
							<div class="text-center">
								<button type="submit"
									class="btn btn-primary btn-wide transition-3d-hover mb-4">Pošalji</button>
							</div>

							<div class="messages"></div>

						</form>
						<!-- End Contacts Form -->
					</div>
				</div>
			</div>
		</div>

		<!-- SVG Background
						<figure class="position-absolute right-0 bottom-0 left-0 z-index-1">
							<img class="js-svg-injector" src="{{root}}assets/svg/components/irregular-shape-2-bottom-3.svg"
								alt="Image Description" data-parent="#SVGwave1BottomSMShapeID2">
						</figure>
						End SVG Background -->
	</div>
	<!-- End Contact Us Section -->

</main>
<!-- ========== END MAIN ============ -->
